<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block page_title %}Assets{% endblock %} | {{ system_name }}</title>

    {#<!-- BEGIN META and FAVICON -->#}
    {{ include('includes/meta.html.twig') }}
    {#<!-- END  META and FAVICON -->#}

    {% block stylesheets %}
        {#<!-- BEGIN STYLESHEETS -->#}
        {{ encore_entry_link_tags('login') }}
        {#<!-- END STYLESHEETS -->#}
    {% endblock %}

    {% block common_header %}
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script type="text/javascript" src="{{ asset('js/libs/utils/html5shiv.js') }}')}}"></script>
        <script type="text/javascript" src="{{ asset('/js/libs/utils/respond.min.js')}}"></script>
        <![endif]-->
    {% endblock %}
</head>
<body class="menubar-hoverable header-fixed{# menubar-pin#}">

{#<!-- BEGIN LOGIN SECTION -->#}
<section class="section-account">
    <div class="img-backdrop" style="background-image: url('{{ asset('build/images/wood_background.jpg') }}')"></div>
    <div class="spacer"></div>
    <div class="card contain-sm style-transparent">
        <div class="card-body">
            <div class=""><h2><span class="text-lg text-bold text-primary">{{ system_name }}</span></h2></div>

            <div class="row">
                <div class="col-sm-6">
                    <br/>
                    {% block form %}

                    {% endblock %}
                </div>{#<!--end .col -->#}
                <div class="col-sm-5 col-sm-offset-1 text-center">
                    <br><br>
                    {% block login_register_btn %}

                    {% endblock %}
                </div>{#<!--end .col -->#}
            </div>{#<!--end .row -->#}
        </div>{#<!--end .card-body -->#}
    </div>{#<!--end .card -->#}
</section>
{#<!-- END LOGIN SECTION -->#}

{%  block javascripts %}
    {#<!-- BEGIN JAVASCRIPT -->#}

    {{ encore_entry_script_tags('login') }}

    {#<!-- END JAVASCRIPT -->#}
{%  endblock %}

</body>
</html>
