{% extends 'security/base.html.twig' %}
{% block form %}
    <div class="login-logo">
        <h5><span class="text-lg text-bold text-primary">Signing in</span></h5>
    </div>
    <form class="form floating-label login-form" data-toggle="validator" accept-charset="utf-8" action="{{ path('security_login') }}" method="post">

        {% if error %}
            <p class="mt-5 mb-3 text-danger">
                * {{ error.messageKey|trans(error.messageData, 'security') }}
            </p>
        {% endif %}

        {% for message in app.flashes('notice') %}
            <p class="mt-5 mb-3 text-muted">
                {{ message }}
            </p>
        {% endfor %}

        <div class="form-group">
            <input name="_username" id="email" type="text" value="{{ last_username }}" class="form-control" autocomplete="on" required autofocus>
            <label for="email">Email <strong style="color:red;">*</strong></label>
        </div>
        <div class="form-group">
            <input name="_password" id="pass" type="password" class="form-control" required>
            <label for="password">Password <strong style="color:red;">*</strong></label>
            <p class="help-block"><a href="{{ path('app_forgot_password_request') }}">Forgot password?</a></p>
        </div>
        <div class="form-errors-div">
            <p style="color: red" id="nMessage">
                {% if error %}
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                {% endif %}
            </p>

            {% for message in app.flashes('notice') %}
                <p class="mt-5 mb-3 text-muted">
                    {{ message }}
                </p>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-xs-8 text-left">
                <div class="checkbox checkbox-inline checkbox-styled">
                    <label>
                        <input name="_remember_me" type="checkbox" id="remember" checked /> <span>Keep me logged in (30 days)</span>
                    </label>
                </div>
            </div><!--end .col -->
            <div class="col-xs-4 text-right">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <button class="btn btn-primary btn-raised" type="submit">Login</button>
            </div><!--end .col -->
        </div><!--end .row -->
    </form>
{% endblock %}

{% block login_register_btn %}
    <h3 class="text-light">
        Not yet registered?
    </h3>
    <a class="btn btn-block btn-raised btn-primary" href="{{ path('security_register') }}">Register here</a>
{% endblock %}

