{% extends 'security/base.html.twig' %}

{% block form %}

<form class="form-signin" action="{{ path('security_login') }}" method="post">

    {% if error %}
        <p class="mt-5 mb-3 text-muted">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </p>
    {% endif %}

    {% for message in app.flashes('notice') %}
        <p class="mt-5 mb-3 text-muted">
            {{ message }}
        </p>
    {% endfor %}

    <h1 class="h3 mb-3 font-weight-normal">Sign In</h1>

    <label for="username" class="sr-only">Username</label>
    <input type="text" id="username" class="form-control mb-3" placeholder="Username" name="_username" value="{{ last_username }}" required autofocus>

    <label for="password" class="sr-only">Password</label>
    <input type="password" id="password" name="_password" class="form-control mb-3" placeholder="Password" required>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">


    <button class="btn btn-lg btn-success btn-block" type="submit">Sign in</button>
    <hr>
    <p class="mt-5 mb-3 text-muted">Don't have an account?</p>

    <a href="{{ path('security_register') }}" class="btn btn-lg btn-primary btn-block">Register</a>


    <p class="mt-5 mb-3 text-muted">Honeyguide &copy; 2017-2018</p>
</form>
{% endblock %}