{% extends 'security/base.html.twig' %}

{% block form %}
    <div class="login-logo">
        <h5><span class="text-lg text-bold text-primary">Register an account</span></h5>
    </div>
    <form class="form floating-label" data-toggle="validator" accept-charset="utf-8" action="{{ path('security_register') }}" method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group {{ form_errors(form.firstname) ? 'has-error' : '' }}">
                    <input type="text" id="{{ form.firstname.vars.id }}" name="{{ form.firstname.vars.full_name }}" class="form-control" value="" required autofocus>
                    <label for="{{ form.firstname.vars.id }}">First name</label>
                    {{ form_errors(form.firstname) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group {{ form_errors(form.lastname) ? 'has-error' : '' }}">
                    <input type="text" id="{{ form.lastname.vars.id }}" name="{{ form.lastname.vars.full_name }}" class="form-control" value="" required>
                    <label for="{{ form.lastname.vars.id }}">Last name</label>
                    {{ form_errors(form.lastname) }}
                </div>
            </div>
        </div>

        <div class="form-group {{ form_errors(form.email) ? 'has-error' : '' }}">
            <input type="text" id="{{ form.email.vars.id }}" name="{{ form.email.vars.full_name }}" class="form-control" value="" required>
            <label for="{{ form.email.vars.id }}">E-mail</label>
            {{ form_errors(form.email) }}
        </div>
        <div class="form-group {{ form_errors(form.plainPassword.first) ? 'has-error' : '' }}">
            <input type="password" id="{{ form.plainPassword.first.vars.id }}" name="{{ form.plainPassword.first.vars.full_name }}" class="form-control" required>
            <label for="{{ form.plainPassword.first.vars.id }}">Password</label>
            {{ form_errors(form.plainPassword.first) }}
        </div>
        <div class="form-group {{ form_errors(form.plainPassword.second) or form_errors(form.plainPassword.first) ? 'has-error' : '' }}">
            <input type="password" id="{{ form.plainPassword.second.vars.id }}" name="{{ form.plainPassword.second.vars.full_name }}" class="form-control" required>
            <label for="{{ form.plainPassword.second.vars.id }}">Repeat Password</label>
            {{ form_errors(form.plainPassword.second) }}
        </div>

{#        {%- if errors|length > 0 -%}#}
{#            <ul>#}
{#                {%- for error in errors -%}#}
{#                    <li class="{{ error.cause.constraint.payload.severity ?? '' }} mt-5 mb-3 text-danger"> * {{ error.message }}</li>#}
{#                {%- endfor -%}#}
{#            </ul>#}
{#        {%- endif -%}#}

        {% if not form.vars.valid %}

            <ul>
                {# Loop through every form item #}
{#                {% for child in form.children %}#}
{#                    #}{# Display the errors of the form item #}
{#                    {%for error in child.vars.errors%}#}
{#                        <li>{{error.message}}</li>#}
{#                    {%endfor%}#}
{#                {%endfor%}#}
                {% if errors.errors is defined %}
                    {% for error in errors.errors %}
                        <li class="text-danger">{{error}}</li>
                    {%endfor%}
                {% endif %}
            </ul>
            <p class="mt-5 mb-3 text-danger">* Please correct the form errors and retry!</p>
        {%endif%}
        {#<div class="form-errors-div">#}
            {#<p style="color: red" id="nMessage">#}
                {#{% if error %}#}
                    {#{{ error.messageKey|trans(error.messageData, 'security') }}#}
                {#{% endif %}#}
            {#</p>#}

            {#{% for message in app.flashes('notice') %}#}
                {#<p class="mt-5 mb-3 text-muted">#}
                    {#{{ message }}#}
                {#</p>#}
            {#{% endfor %}#}
        {#</div>#}
        <div class="row">
            <div class="col-xs-12 text-right">
                <input type="hidden" id="{{ form._token.vars.id }}" name="{{ form._token.vars.full_name }}" value="{{ form._token.vars.value }}">
                <button class="btn btn-primary btn-raised" type="submit">Register</button>
            </div><!--end .col -->
        </div><!--end .row -->
    </form>

{% endblock %}

{% block login_register_btn %}
    <h3 class="text-light">
        Already have an account?
    </h3>
    <a class="btn btn-block btn-raised btn-primary" href="{{ path('security_login') }}">Login here</a>
{% endblock %}

