{% extends 'security/base.html.twig' %}

{% block page_title %}Password Reset Email Sent{% endblock %}

{% block form %}
    <h1>Check your email</h1>

    <p>An email has been sent that contains a link that you can click to reset your password. This link will expire in {{ tokenLifetime|date('g') }} hour(s).</p>
    <p>If you don't receive an email please check your spam folder or <a class="text-primary" href="{{ path('app_forgot_password_request') }}">try again</a>.</p>
{% endblock %}
