{% extends 'security/base.html.twig' %}

{% block page_title %}Reset your password{% endblock %}

{% block form %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1>Reset your password</h1>
    <br>
    <div class="request-pass-form-container">
        {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Enter your email address and we we will send you a
                link to reset your password.
            </small>
        </div>

        <br>

        <button class="btn btn-primary">Send password reset email</button>
        {{ form_end(requestForm) }}
    </div>


{% endblock %}

{% block login_register_btn %}
    <h3 class="text-light">
        Remembered your credentials?
    </h3>
    <a class="btn btn-block btn-raised btn-primary" href="{{ path('security_login') }}">Login here</a>
{% endblock %}