{% extends 'security/base.html.twig' %}

{% block page_title %}Reset your password{% endblock %}

{% block form %}
    <h1>Reset your password</h1>
    <br>
    <div class="request-pass-form-container">
        {{ form_start(resetForm) }}
            {{ form_row(resetForm.plainPassword) }}
            <button class="btn btn-primary">Reset password</button>
        {{ form_end(resetForm) }}
    </div>
{% endblock %}
