{#<form method="post" action="{{ path('category_delete', {'id': category.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">#}
    {#<input type="hidden" name="_method" value="DELETE">#}
    {#<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">#}
    {#<button class="btn">Delete</button>#}
{#</form>#}
<form id="deleteCategoryForm" method="post" data-form-url="{{ path('category_index') }}" onsubmit="return false;">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 id="modalHeader" class="modal-title text-danger">Warning!</h4>

    </div>
    <div class="modal-body">
        <p id="modalContent">Are you sure you want to delete this category?</p>
        <p id="modalError" style="color:red"></p>
    </div>
    <input type="hidden" name="_method" value="DELETE">
    {#<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">#}
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <span class="js-delete-confirmBtn">
            <button type="submit" id="deleteCatBtn" onClick="deleteCategory()" class="btn btn-primary">Confirm</button>
        </span>
    </div>
</form>