{#{{ form_start(newCatform) }}#}
{#    {{ form_row(newCatform.parent) }}#}
{#    {{ form_row(newCatform.name, {#}
{#        'label': 'Category name'#}
{#    }) }}#}
    {#<button class="btn">{{ button_label|default('Save') }}</button>#}
{#{{ form_end(newCatform) }}#}


{#<form id="js-new-category-form" class="form-horizontal" role="form" data-toggle="validator" data-form-url="{{ path('category_index') }}" onSubmit="return false;" accept-charset="utf-8">#}
{#    <div class="modal-body">#}
{#        <div class="form-group">#}
{#            <div class="col-sm-3">#}
{#                <label for="{{ newCatform.parent.vars.id }}" class="control-label">{{ newCatform.parent.vars.label }}</label>#}
{#            </div>#}
{#            <div class="col-sm-9">#}
{#                <select name="{{ newCatform.parent.vars.full_name }}" id="{{ newCatform.parent.vars.id }}" type="text" class="form-control" onfocus="emptyElement('statusMessage')" data-placeholder="{{ newCatform.parent.vars.placeholder }}">#}
{#                    <option value=""></option>#}
{#                    {% for key,val in newCatform.parent.vars.choices %}#}
{#                        <option value="{{ val.value }}" {{  newCatform.parent.vars.value == '' and key == 0 ? ' selected ' :(val.value == newCatform.parent.vars.value ? ' selected ' : '') }}>{{ val.label | trans }}</option>#}
{#                    {% endfor %}#}
{#                </select>#}
{#                <p class="help-block">leave blank if this is a parent category!</p>#}
{#            </div>#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <div class="col-sm-3">#}
{#                <label for="{{ newCatform.name.vars.id }}" class="control-label js-category-name-label">{{ newCatform.name.vars.label }}</label>#}
{#            </div>#}
{#            <div class="col-sm-9">#}
{#                <input type="text" id="{{ newCatform.name.vars.id }}" name="{{ newCatform.name.vars.full_name }}" class="form-control" value="{{ newCatform.name.vars.value }}" onfocus="emptyElement('statusMessage')" data-rule-minlength="3" maxlength="30" required>#}
{#                <p class="help-block">3 - 30 letters!</p>#}
{#            </div>#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <div class="col-sm-3">#}
{#            </div>#}
{#            <p></p>#}
{#            <p style="text-align:center; color:red" id="statusMessage"></p>#}
{#        </div>#}

{#        #}{#//the argument of csrf_token() is an arbitrary value used to generate the token#}
{#        <input type="hidden" id="{{ newCatform._token.vars.id }}" name="{{ newCatform._token.vars.full_name }}" value="{{ newCatform._token.vars.value }}">#}
{#        <input type="hidden" id="form_action" name="form_action" value="saveNewCat">#}
{#    </div>#}
{#    <div class="modal-footer">#}
{#        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>#}
{#        <span class="js-saveCatBtn-container">#}
{#            <button type="submit" id="saveCatBtn" class="btn btn-primary">Save</button>#}
{#        </span>#}
{#    </div>#}
{#</form>#}

{{ form_start(form) }}
    <div class="card-body">
{#        {{ form_widget(newCatform) }}#}
        <div class="js-parent-cat-container">
            {{ form_row(form.parent) }}
        </div>
        {{ form_row(form.name, {
            'label': 'Category name'
        }) }}
    </div>
    {# BEGIN FORM FOOTER #}
    <div class="card-actionbar">
        <div class="card-actionbar-row">
            {% if id is defined %}
                {% set url = path('category_edit', {id: id}) %}
            {% else %}
                {% set url = path('category_index') %}
            {% endif %}
            <button class="btn btn-raised btn-default-bright style-primary js-{{ action|default('save') }}-category-btn" data-path="{{ url }}">{{ button_label|default('Save') }}</button>
        </div>{#end .card-actionbar-row #}
    </div>{#end .card-actionbar #}
    {# END FORM FOOTER #}
{{ form_end(form) }}