<script>
    'use strict';

    (function (window, $, swal) {
        //AJAX PROCESS TO SAVE NEW ASSETS CATEGORY
        var $categoriesContainer = $(".categories-container");
        var $categoriesModal = $("#categoriesModal");

        $(document).on("click", "#saveCatBtn", function(e) {
            e.preventDefault();
            saveCategory();
        });
        $categoriesContainer.on("click", ".tools span a", function(e) {
            e.preventDefault();
            if ($(this).closest('.category-card').hasClass('expanded')) {
                e.stopPropagation();
            }
        });
        //Dynamically populate the add-new sub-category dialog box
        $categoriesContainer.on("click", ".open-newCatModal", function () {
            var myCatId = $(this).data('catid');
            var catform = $("#js-new-category-form");
            catform.closest('.modal-content').find('.modal-title').html('New category ...');
            catform.closest('.modal-content').find('.js-category-name-label').html('Category name');
            //$("#saveCatBtn").closest('.js-saveCatBtn-container').html('<button type="submit" id="saveCatBtn" onClick="saveCategory()" class="btn btn-primary">Save</button>');
            _("saveCatBtn").disabled = false;
            $("#{{ newCatform.parent.vars.id }}").closest('.form-group').removeClass('hidden');
            $("#{{ newCatform.name.vars.id }}").val('');
            catform.get(0).reset;
            $("#{{ newCatform.parent.vars.id }}").val(myCatId);
        });
        //Dynamically populate the edit category dialog box
        $categoriesContainer.on("click", ".open-EditCatModal", function () {
            var myCatName = $(this).data('catname');
            var myCatId = $(this).data('id');
            var catform = $("#js-new-category-form");
            var saveBtn = $("#saveCatBtn");
            catform.closest('.modal-content').find('.modal-title').html('<span class="text-default-light">Rename </span>' + myCatName + ' ...');
            catform.closest('.modal-content').find('.js-category-name-label').html('New Category name');
            saveBtn.closest('.js-saveCatBtn-container').html('<button type="submit" id="saveCatBtn" onClick="saveCategory(' + myCatId + ')" class="btn btn-primary">Save changes</button>');
            catform.get(0).reset;
            $("#{{ newCatform.parent.vars.id }}").closest('.form-group').addClass('hidden');
            $("#{{ newCatform.name.vars.id }}").val(myCatName);
        });


        $categoriesContainer.on("click", ".js-delete-category, .js-delete-subcategory", function(e) {
            var deleteUrl = $(this).data('url');
            var $deletedCategory = $(this).closest('.category-card, .subcategory-card');
            swal.fire({
                title: 'Delete Category',
                text: 'Are you sure you want to delete this category?',
                showCancelButton: true,
                showLoaderOnConfirm: true,
                preConfirm: function () {
                    return $.ajax({
                        url: deleteUrl,
                        method: 'DELETE',
                    }).then(response => {
                        $deletedCategory.fadeOut();
                    }).fail(
                        function(jqXHR,textStatus,errorThrown ){
                            swal.fire({
                                icon: 'error',
                                title: 'Error deleting category',
                            })
                            swal.showValidationMessage(
                                `An error occurred: ${JSON.parse(jqXHR.responseText).errors}`
                            )
                        }
                    )
                },
                allowOutsideClick: () => !swal.isLoading()
            }).then((result) => {
                if (result.value) {
                    swal({
                        type: 'success',
                        title: 'Success',
                        text: result.value
                    })
                }
            }).catch(
                function (cancelEvent) {
                    console.log('cancelled delete operation, error is ' + cancelEvent);
                }
            )
        });

        $categoriesContainer.on("click", ".js-add-subcat", function(e) {
            var parentCategoryId = $(this).data('catid');
            var parentCategoryName = $(this).data('catname');
            swal.fire({
                title: 'New category',
                input: 'text',
                html:`<span>Parent category : <strong>${parentCategoryName}</strong></span><br><input type="hidden" id="{{ newCatform._token.vars.id }}" name="{{ newCatform._token.vars.full_name }}" value="{{ newCatform._token.vars.value }}">`,
                inputPlaceholder: 'enter sub-category name',
                inputAttributes: {
                    name: `{{ newCatform.name.vars.full_name }}`
                },
                showCancelButton: true,
                showLoaderOnConfirm: true,
                preConfirm: function () {
                    var $token = $('input[name = "category[_token]"]').val();
                    var $name = $('input[name = "category[name]"]').val();
                    var formData = {};
                    formData["category[_token]"] = $token;
                    formData["category[name]"] = $name;
                    console.log("category name is : " + $name)
                    return $.ajax({
                        url: '{{ path('category_new') }}',
                        type: 'POST',
                        dataType: 'json',
                        data: JSON.stringify(formData),
                    }).then(response => {
                        //Show success toatr message
                        toastr.success('Sub-category saved successfully', '');
                    }).fail(
                        function(jqXHR,textStatus,errorThrown ){
                            //let errorData = JSON.parse(jqXHR.responseText);
                            toastr.error('failed to save sub-category, please retry', '');

                            console.log(jqXHR);
                            console.log(textStatus);
                            console.log(errorThrown);
                            //if(errorData.status === 'invalid') {
                            //     swal.fire({
                            //         icon: 'error',
                            //         title: 'Error saving category',
                            //     })
                            //     swal.showValidationMessage(
                            //         `An error occurred: ${errorData.errors}`
                            //     )
                            //}
                        }
                    )
                },
                allowOutsideClick: () => !swal.isLoading()
            }).then((result) => {
                if (result.value) {
                    swal({
                        type: 'success',
                        title: 'Success',
                        text: result.value
                    })
                }
            }).catch(
                function (cancelEvent) {
                    console.log('cancelled delete operation, error is ' + cancelEvent);
                }
            )
        });




        function saveCategory(id = null) {
            // get the properties and values from the form
            var form = $("#js-new-category-form");
            var parent = _("{{ newCatform.parent.vars.id }}").value;
            var newCat_name = _('{{ newCatform.name.vars.id }}').value;
            var btn = $('#saveCatBtn');
            var action = 'saving';
            //Get all form input values using jQuery serialize function
            var form_data = form.serialize();
            var form_url = form.data('form-url');
            if (id != null) {
                action = 'editing';
                form_url = form.data('form-url') + id + '/edit';
            }

            // always makes sense to signal user that something is happening
            btn.html('saving');

            // simple approach avoid submitting multiple times
            btn.attr("disabled",true);
            $.ajax({
                url: form_url,
                type: 'POST',
                dataType: 'json',
                data: form_data,
                success: function(data){
                    if(data.status === 'category_saved'){
                        var newCat_id = data.cat_id;
                        var currentHTML;
                        //Dynamically add the category to the list
                        if (parent === '') { //means this is a parent category
                            //Show success toatr message
                            toastr.success('Category saved successfully', '');

                            if(action == 'saving') {
                                currentHTML = _("asset_categories").innerHTML;
                                _("asset_categories").innerHTML = '' +
                                    '<div class="card panel category-card" id="category-' + newCat_id + '">' +
                                    '   <div class="card-head collapsed" data-toggle="collapse" data-parent="#asset_categories" data-target="#asset_category-' + newCat_id + '">' +
                                    '       <header id="catTitle' + newCat_id + '"><a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a><span>' + newCat_name + '</span></header>' +
                                    '       <div class="tools">' +
                                    '           <span data-toggle="tooltip" data-placement="top" data-original-title="Delete category">' +
                                    '               <a href="#" id="DelCatLink' + newCat_id + '" data-url="{{ path("category_index") }}' + newCat_id + '" class="js-delete-category btn btn-icon-toggle" data-catname="' + newCat_name + '"><i class="md md-delete"></i></a>' +
                                    '           </span>' +
                                    '           <span data-toggle="tooltip" data-placement="top" data-original-title="Edit category">' +
                                    '               <a  href="#categoriesModal" id="EditCatLink' + newCat_id + '" data-toggle="modal" data-id="' + newCat_id + '" class="open-EditCatModal btn btn-icon-toggle" data-catname="' + newCat_name + '"><i class="md md-edit"></i></a>' +
                                    '           </span>' +
                                    '           <span data-toggle="tooltip" data-placement="top" data-original-title="Add new sub-category">' +
                                    '               <a href="#categoriesModal" id="newSubCatLink' + newCat_id + '" class="open-newCatModal btn btn-icon-toggle" data-toggle="modal" data-catid="' + newCat_id + '"><i class="fa fa-plus"></i></a>' +
                                    '           </span>' +
                                    '       </div>' +
                                    '   </div>' +
                                    '   <div id="asset_category-' + newCat_id + '" class="collapse">' +
                                    '       <div class="card-body">' +
                                    '           <div class="card-body no-padding">' +
                                    '               <ul class="list" id="subcategories_list' + newCat_id + '">No subcategories defined</ul>' +
                                    '           </div>' +
                                    '       </div>' +
                                    '   </div>' +
                                    '</div>' + currentHTML;

                            } else if (action == 'editing') {
                                var catTitle = $('#catTitle' + id + ' span');
                                catTitle.fadeOut("slow", function(){
                                    catTitle.replaceWith(data.newName);
                                    catTitle.fadeIn("slow");
                                });
                            }
                        } else {//means this is a sub-category
                            //Show success toatr message
                            toastr.success('Sub-category saved successfully', '');

                            var subcats_rows = _("subcategories_list"+parent).getElementsByTagName("li").length
                            if (subcats_rows < 1) {
                                currentHTML = "";
                            } else {
                                currentHTML = _("subcategories_list"+parent).innerHTML;
                            }
                            _("subcategories_list"+parent).innerHTML = currentHTML+'<li id="subcategory-'+newCat_id+'" class="tile subcategory-card"><a class="tile-content ink-reaction"><div id="subcatTitle_'+newCat_id+'" class="tile-text">'+newCat_name+'<small>'+newCat_name+'</small></div></a><a id="DelSubCatLink'+newCat_id+'" class="js-delete-subcategory btn btn-flat ink-reaction"  data-url="{{ path("category_index") }}' + newCat_id + '" data-subcatname="'+newCat_name+'""><i class="fa fa-trash"></i></a><a id="EditSubCatLink'+newCat_id+'" class="open-EditSubCatModal btn btn-flat ink-reaction" href="#EditSubCatModal"  data-toggle="modal" data-catid="'+parent+'" data-subcatid="'+newCat_id+'" data-subcatname="'+newCat_name+'" data-subcatsname="'+newCat_name+'"><i class="fa fa-pencil"></i></a></li>';
                        }

                        $('#categoriesModal').modal('hide');
                        form.get(0).reset();
                        _("statusMessage").innerHTML = '';
                        resetSaveBtn();
                    } else {
                        console.log('status : ' + data.status);
                        console.log('the following errors were found:');
                        console.log(data.errors);
                        _("statusMessage").innerHTML = 'An error was encountered : '+data.errors;
                        resetSaveBtn();
                    }
                },
                error: function (jqXHR) {
                    let errorData = JSON.parse(jqXHR.responseText);
                    toastr.error('failed to save category, please retry', '');

                    console.log(errorData);
                    var printErrors = 'Sorry, there was a problem saving a category, please retry';
                    if(errorData.status === 'invalid') {
                        printErrors = errorData.errors;
                    }
                    _("statusMessage").innerHTML = printErrors;
                    resetSaveBtn();
                }
            });
        }

        function deleteCategory(id) {
            // get the properties and values from the form
            var form = $("#deleteCategoryForm");
            var btn = $('#deleteCatBtn');
            //Get all form input values using jQuery serialize function
            var form_data = form.serialize();
            var form_url = form.data('form-url') + id + '';
            console.log(form_url);

            // always makes sense to signal user that something is happening
            btn.html('deleting ...');

            // simple approach avoid submitting multiple times
            btn.attr("disabled",true);
            $.ajax({
                url: form_url,
                type: 'DELETE',
                dataType: 'json',
                data: form_data,
                success: function(data){
                    if(data.status === 'category_saved'){
                        if (parent === '') { //means this is a parent category
                            //Show success toatr message
                            toastr.success('Category saved successfully', '');

                            var catCard = $('#category' + id);
                            catCard.fadeOut("slow", function(){
                                catCard.remove();
                            });
                        } else {//means this is a sub-category
                            //Show success toatr message
                            toastr.success('Sub-category saved successfully', '');

                            var subCatCard = $('#category' + id);
                            subCatCard.fadeOut("slow", function(){
                                subCatCard.remove();
                            });
                        }

                        $('#DelCatModal').modal('hide');
                        form.get(0).reset();
                        _("modalError").innerHTML = '';
                    } else {
                        console.log('status : ' + data.status);
                        console.log('the following errors were found:');
                        console.log(data.errors);
                        _("modalError").innerHTML = 'An error was encountered : '+data.errors;
                    }
                },
                error: function (jqXHR) {
                    let errorData = JSON.parse(jqXHR.responseText);
                    toastr.error('failed to delete category, please retry', '');

                    console.log('status : ' + data.status);
                    console.log('the following errors were found:');
                    console.log(data.errors);
                    _("modalError").innerHTML = 'An error was encountered : '+data.errors;
                }
            });
        }

        function resetSaveBtn() {
            _("saveCatBtn").disabled = false;
            _("saveCatBtn").innerHTML = "Save";
        }


    })(window, jQuery, swal);
</script>


<!-- BEGIN NEW CATEGORY MODAL MARKUP -->
<div class="modal fade" id="categoriesModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">New item category ...</h4>
            </div>
            <div id="js-category-form-container">
{#                {{ include('category/_form.html.twig') }}#}
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- END NEW CATEGORY MODAL MARKUP -->

<!-- BEGIN DELETE CATEGORY MODAL MARKUP -->
<div id="DelCatModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="js-del-category-form-container">
                {{ include('category/_delete_form.html.twig') }}
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- END DELETE CATEGORY MODAL MARKUP -->
