{% extends 'base.html.twig' %}

{% block page_title %}Categories{% endblock %}

{% block breadcrumb %}
    <li class="active">Categories</li>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('category') }}

{% endblock %}

{% block body %}
    <div class="contain-lg">
        {#<!-- BEGIN CATEGORIES CONTENT -->#}
        <div class="row">
            <div class="col-lg-offset-1 col-md-8 js-categories-container">

                {% if is_granted('ROLE_ADMIN') %}
                    <div class="card panel">
                        <div class="card-head style-default-bright">
                            <header>Add new category</header>
                            <div class="tools">
                                <a href="#" type="button" class="js-new-cat-btn btn ink-reaction btn-floating-action btn-primary active" data-getformurl="{{ path('category_index') }}" data-toggle="tooltip" data-placement="top" data-original-title="Add category"><i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="panel-group categories-list" id="asset_categories">
                {% for category in categories %}
                    <div class="card panel category-card" id="category-{{ category.id }}">
                        <div class="card-head collapsed" data-toggle="collapse" data-parent="#asset_categories" data-target="#asset_category-{{ category.id }}">
                            <header>
                                <a class="btn btn-icon-toggle"><i class="fa fa-angle-down"></i></a>
                                <span>{{ category.name }}</span>
                            </header>
                            <div class="tools">
                                <span data-toggle="tooltip" data-placement="top" data-original-title="Delete category">
                                    <a href="#" data-url="{{ path('category_delete', {id: category.id}) }}" class="js-delete-category btn btn-icon-toggle" data-catname="{{ category.name }}"><i class="md md-delete"></i></a>
                                </span>
                                <span data-toggle="tooltip" data-placement="top" data-original-title="Edit category">
                                    <a  href="#" data-id="{{ category.id }}" class="js-edit-cat-btn btn btn-icon-toggle" data-catname="{{ category.name }}" data-getformurl="{{ path('category_edit', {id: category.id}) }}"><i class="md md-edit"></i></a>
                                </span>
                                <span class="new-subcat-span" data-toggle="tooltip" data-placement="top" data-original-title="Add new sub-category">
                                    <a href="#" class="js-new-subcat-btn btn btn-icon-toggle" data-catid="{{ category.id }}" data-catname="{{ category.name }}" data-getformurl="{{ path('category_index') }}"><i class="fa fa-plus"></i></a>
                                </span>
                            </div>
                        </div>
                        <div id="asset_category-{{ category.id }}" class="collapse">
                            <div class="card-body">
                                <ul class="list subcategories_list">
                                    {% for sub_category in category.children %}
                                        <li class="tile subcategory-card">
                                            <a class="tile-content ink-reaction">
                                                <div class="tile-text">
                                                    {{ sub_category.name }}
                                                    <small>{{ category.name }} &#8594; {{ sub_category.name }}</small>
                                                </div>
                                                <div class="tile-buttons">
                                                    <button class="btn btn-icon-toggle js-delete-subcategory" data-url="{{ path('category_delete', {id: sub_category.id}) }}"><i class="fa fa-fw fa-trash-o"></i></button>
                                                    <button class="btn btn-icon-toggle js-edit-subcat-btn" data-id="{{ sub_category.id }}" data-catid="{{ category.id }}" data-catname="{{ sub_category.name }}" data-getformurl="{{ path('category_edit', {id: sub_category.id}) }}"><i class="fa fa-pencil"></i></button>
                                                </div>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="tile subcategory-card no-list-item text-default-light">
                                            No subcategories defined
                                        </li>
                                    {% endfor %}

                                </ul>
                            </div>
                        </div>
                    </div>{#<!--end .panel -->#}

                {% else %}
                    NO CATEGORIES FOUND
                {% endfor %}
                </div>{#<!--end .panel-group -->#}


                <em class="text-caption">Categories and subcategories list</em>
            </div><!--end .col -->
        </div><!--end .row -->
        {#<!-- END CATEGORIES CONTENT -->#}
    </div>
{% endblock %}

{% block javascripts %}

    {{ parent() }}

    {{ encore_entry_script_tags('category') }}

{%  endblock %}