{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block body %}
    <h1>Category index</h1>

    {#<table class="table">#}
        {#<thead>#}
            {#<tr>#}
                {#<th>Id</th>#}
                {#<th>Category</th>#}
                {#<th>Sub-Category</th>#}
                {#<th>AddedBy</th>#}
                {#<th>AddedOn</th>#}
                {#<th>actions</th>#}
            {#</tr>#}
        {#</thead>#}
        {#<tbody>#}
        {#{% for category in categories %}#}
            {#<tr>#}
                {#<td>{{ category.id }}</td>#}
                {#<td>{{ category.name }}</td>#}
                {#<td>{{ category.name }}</td>#}
                {#<td>{{ category.addedBy }}</td>#}
                {#<td>{{ category.addedOn ? category.addedOn|date('Y-m-d H:i:s') : '' }}</td>#}
                {#<td>#}
                    {#<a href="{{ path('category_show', {'id': category.id}) }}">show</a>#}
                    {#<a href="{{ path('category_edit', {'id': category.id}) }}">edit</a>#}
                {#</td>#}
            {#</tr>#}
        {#{% else %}#}
            {#<tr>#}
                {#<td colspan="4">no records found</td>#}
            {#</tr>#}
        {#{% endfor %}#}
        {#</tbody>#}
    {#</table>#}
    <ul class="category-container">
        {% for category in categories %}
           <li class="category-container"><span class="text-success">{{ category.name }}</span>
               <a href="{{ path('category_show', {'id': category.id}) }}">show</a>
               <a href="{{ path('category_edit', {'id': category.id}) }}">edit</a>
           </li>
                <ul>
                    {% for sub_category in category.children %}
                        <li>{{ sub_category.name }}
                            <a href="{{ path('category_show', {'id': sub_category.id}) }}"><i class="fa fa-plus"></i>show </a>
                            <a href="{{ path('category_edit', {'id': sub_category.id}) }}"><i class="fa fa-pencil"></i>edit</a>
                        </li>
                    {% endfor %}
                </ul>
        {% endfor %}
    </ul>





    <a href="{{ path('category_new') }}">Create new</a>
{% endblock %}