<div class="modal fade js-assignItemModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="assignItemHeader" class="modal-title">Checking out</h4>
            </div>
            <form id="assignItemForm" class="form form-validate" role="form" data-toggle="validator" data-formurl="{{ path('asset_checkout', {'id': asset_id}) }}" onSubmit="return false;" accept-charset="utf-8">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <select class="form-control select2-users" name="{{ checkform.assignedUser.vars.full_name }}" id="{{ checkform.assignedUser.vars.id }}" data-placeholder="{{ checkform.assignedUser.vars.placeholder }}" onfocus="emptyElement('assignItemMessage')">
                                    <option value=""></option>
                                    {% for key,val in checkform.assignedUser.vars.choices %}
                                        <option value="{{ val.value }}" {{  checkform.assignedUser.vars.value == '' and key == 0 ? ' selected ' :(val.value == checkform.assignedUser.vars.value ? ' selected ' : '') }}>{{ val.label | trans }}</option>
                                    {% endfor %}
                                </select>
                                <label for="{{ checkform.assignedUser.vars.id }}">Assigned to <strong style="color:red;">*</strong></label>
                                <p class="help-block"></p>
                            </div>
                        </div> {#end .col #}
                    </div>{#end .row #}

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">

                                <div class="input-daterange input-group" id="assignDateRange">
                                    <div class="input-group-content">
                                        <input type="text" id="{{ checkform.lastCheckoutDate.vars.id }}" name="{{ checkform.lastCheckoutDate.vars.full_name }}" class="form-control left-align" autocomplete="off" placeholder="check out date" required />
                                        <label>Checkout duration <strong style="color:red;">*</strong></label>
                                    </div>
                                    <span class="input-group-addon">to</span>
                                    <div class="input-group-content">
                                        <input type="text" id="{{ checkform.checkInDate.vars.id }}" name="{{ checkform.checkInDate.vars.full_name }}" class="form-control left-align" autocomplete="off" placeholder="check in date" />
                                        <div class="form-control-line"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>{#end .row #}

                    <div class="row">
                        <div class="col-md-12">
                            {#{{ form_row(form.location, { 'attr' : { 'class' : 'select2-locations' } }) }}#}
                            <div class="form-group">
                                {{ form_widget(checkform.location, { 'attr' : { 'class' : 'select2-locations' } }) }}
                                {{ form_errors(checkform.location) }}
                                <label class="control-label required" for="{{ checkform.location.vars.id }}">To Location <strong style="color:red;">*</strong></label>
                                <p class="help-block"></p>
                            </div>
                        </div>{#end .col #}
                    </div>{#end .row #}

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea type="text" class="form-control autocomplete tags_class" id="{{ checkform.checkInOutNotes.vars.id }}" name="{{ checkform.checkInOutNotes.vars.full_name }}" rows="1" placeholder="..."></textarea>
                                <label for="{{ checkform.checkInOutNotes.vars.id }}">Additional checkout notes</label>
                                <p id="notesstatus" class="help-block"></p>
                            </div>
                        </div>{#end .col #}

                    </div>{#end .row #}


                    <p class="text-center text-danger" id="assignItemMessage"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <span class="confirmBtn-wrapper">
                        <button type="submit" class="btn js-checkout-btn btn-primary">Check out</button>
                    </span>
                </div>
            </form>
        </div>{# /.modal-content #}
    </div>{# /.modal-dialog #}
</div>{# /.modal #}
