<div class="modal fade js-assignItemModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="checkinItemHeader" class="modal-title">Checking in</h4>
            </div>
            <form id="checkinItemForm" class="form form-validate" role="form" data-toggle="validator" data-formurl="{{ path('asset_checkin', {'id': asset.id}) }}" onSubmit="return false;" accept-charset="utf-8">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control disabled" value="{{ asset.assignedUser }}" disabled>
                                        <label for="in_assignee">Checking in from* : </label>
                                        <p class="help-block"></p>
                                    </div>
                                </div>{#end .col #}
                            </div>{#end .row #}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="input-group date" id="checkindatediv">
                                            <div class="input-group-content">
                                                <input type="text" class="form-control left-align" id="{{ form.checkInDate.vars.id }}" name="{{ form.checkInDate.vars.full_name }}" autocomplete="off" data-rule-date="true" placeholder="return date" required>
                                                <label for="{{ form.checkInDate.vars.id }}">Date of return : <strong style="color:red;">*</strong></label>
                                                <p class="help-block"></p>
                                            </div>
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>{#end .row #}

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        {{ form_widget(form.location, { 'attr' : { 'class' : 'select2-locations' } }) }}
                                        {{ form_errors(form.location) }}
                                        <label class="control-label required" for="{{ form.location.vars.id }}">Returned to (Location) <strong style="color:red;">*</strong></label>
                                        <p class="help-block"></p>
                                    </div>
                                </div>{#end .col #}

                            </div>{#end .row #}
                        </div>{#end .col #}
                        <div class="col-md-4" style="padding-bottom: 11px;">
                            <label class="control-label custom-label" style="opacity: 0.5">Return status <strong style="color:red;">*</strong></label>

                            {% for key,val in form.status.vars.choices %}
                                <div class="radio radio-styled">
                                    <label class="radio-styled">
                                        <input type="radio" name="{{ form.status.vars.full_name }}" value="{{ val.value }}" {{  form.status.vars.value == '' and loop.first ? ' checked ' : (val.value == form.status.vars.value ? ' checked ' : '') }}>
                                        <span>{{ val.label }}</span>
                                    </label>
                                </div>
                            {% endfor %}

                            <div class="form-group" style="margin-bottom:0; padding-top:0">
                                <input type="text" class="form-control" id="{{ form.conditionNotes.vars.id }}" name="{{ form.conditionNotes.vars.full_name }}" onfocus="emptyElement('supplierstatus')" value="{{ form.conditionNotes.vars.value }}" placeholder="specify condition notes">
                                <label for="{{ form.conditionNotes.vars.id }}"></label>
                                <p class="help-block"></p>
                            </div>{#end .form-group #}

                        </div>

                    </div>{#end .row #}

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea type="text" class="form-control autocomplete tags_class" id="{{ form.checkInOutNotes.vars.id }}" name="{{ form.checkInOutNotes.vars.full_name }}" rows="1" placeholder="..."></textarea>
                                <label for="{{ form.checkInOutNotes.vars.id }}">Additional checkout notes</label>
                                <p id="notesstatus" class="help-block"></p>
                            </div>
                        </div>{#end .col #}

                    </div>{#end .row #}


                    <p style="text-align:center; color:red" id="assignItemMessage"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <span class="confirmBtn-wrapper">
                        <button type="submit" class="btn js-checkin-btn btn-primary">Check in</button>
                    </span>
                </div>
            </form>
        </div>{# /.modal-content #}
    </div>{# /.modal-dialog #}
</div>{# /.modal #}
