{% set photo_placeholder = "" %}

<form class="form form-validate" method="post" autocomplete="on" enctype="multipart/form-data" novalidate>

    <div class="card-body" id="new_item_card">
        <div class="row">
            <div class="col-xs-12">

                <div class="row">

                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-12">

                                <div class="card sq-m">
                                    {% if asset.photo and file_exists('uploads/asset/'~asset.photo) %}
                                        {% set photo_placeholder = asset('uploads/asset/'~asset.photo) %}
                                    {% else %}
                                        {% set photo_placeholder = asset('build/images/noimage.jpg') %}
                                        {#{% set photo_placeholder = "" %}#}
                                    {% endif %}

                                    <div class="card-body img-container">
                                        <div class="item-photo" style="background-image: url({{ photo_placeholder }})" data-toggle="tooltip" data-placement="bottom" data-trigger="hover" data-original-title="Click to {{ asset.photo ? 'change' : 'choose'  }} image"></div>
                                        <input type="file" class="uploadFile hidden" id="{{ form.photo.vars.id }}" name="{{ form.photo.vars.full_name }}">
                                        <input type="checkbox" class="deleteFileChk hidden" id="{{ form.deletePhoto.vars.id }}" name="{{ form.deletePhoto.vars.full_name }}" class="hidden-input deleteFile" value="{{ form.deletePhoto.vars.value }}">
                                        <i class="fa fa-times {{ asset.photo ? '' : 'hidden'  }} rem"></i>
                                    </div>{#end .card-body #}

                                </div>{#end .card #}
                            </div>{#end .col #}
                        </div>{#end .row #}

                    </div>{#end .col #}
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="row sq-m">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" name="{{ form.name.vars.full_name}}" id="{{ form.name.vars.id}}" class="form-control" value="{{ form.name.vars.value }}" onfocus="emptyElement('inamestatus')"  placeholder="..." data-toggle="tooltip" data-placement="bottom" data-trigger="hover" autocomplete="on" data-original-title="Item name or model (eg. Lenovo G40)." required>
                                            <label for="{{ form.name.vars.id}}" class="control-label">Item name, make and model <strong style="color:red;">*</strong></label>
                                            <p id="inamestatus" class="help-block"></p>
                                        </div>
                                    </div>{#end .col #}
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" name="{{ form.sn.vars.full_name}}" id="{{ form.sn.vars.id}}" class="form-control" value="{{ form.sn.vars.value }}" data-rule-minlength="4" onfocus="emptyElement('snstatus')"  onblur="checksn()"  placeholder="..." data-toggle="tooltip" data-placement="bottom" data-trigger="hover" data-original-title="How would you identify this asset internally? You can give it a code such as M&E/PC/001" required>
                                            <label for="{{ form.sn.vars.id}}" class="control-label">Serial number or Unique ID <strong style="color:red;">*</strong></label>
                                            <p id="snstatus" class="help-block"></p>
                                        </div>
                                    </div>{#end .col #}
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" name="{{ form.barcode.vars.full_name }}" id="{{ form.barcode.vars.id }}" class="form-control" data-rule-minlength="4" onfocus="emptyElement('intidstatus')"  onblur="check_id()" value="{{ form.barcode.vars.value }}" placeholder="..." data-toggle="tooltip" data-placement="bottom" data-trigger="hover" data-original-title="A unique, encoded text tag that can be scanned on a mobile app to find this asset!" required>
                                            <label for="{{ form.barcode.vars.id }}" class="control-label">Barcode or QR code <strong style="color:red;">*</strong></label>
                                            <p id="intidstatus" class="help-block"></p>
                                        </div>
                                    </div>{#end .col #}
                                </div>{#end .row #}
                            </div>{#end .col #}
                            <div class="col-md-4">
                                <div class="row sq-m">
                                    <div class="col-md-12">
{#                                        {{ form_row(form.category, { 'attr' : { 'class' : 'select2-categories', 'data-placeholder' : form.category.vars.placeholder  } }) }}#}

                                        <div class="form-group">
                                            {{ form_widget(form.category, { 'attr' : { 'class' : 'select2-categories' } }) }}
                                            {{ form_errors(form.category) }}
                                            <label class="control-label required" for="asset_category">Category <strong style="color:red;">*</strong></label>
                                        </div>
                                    </div>{#end .col #}
                                    <div class="col-md-12">
{#                                        {{ form_row(form.location, { 'attr' : { 'class' : 'select2-locations' } }) }}#}

                                        <div class="form-group">
                                            {{ form_widget(form.location, { 'attr' : { 'class' : 'select2-locations' } }) }}
                                            {{ form_errors(form.location) }}
                                            <label class="control-label required" for="asset_location">Location <strong style="color:red;">*</strong></label>
                                        </div>
                                    </div>{#end .col #}
                                </div>{#end .row #}
                            </div>{#end .col #}
                        </div>{#end .row #}

                        <div class="row sq-m">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea type="text" class="form-control" id="{{ form.specs.vars.id }}" name="{{ form.specs.vars.full_name }}" onfocus="emptyElement('specsstatus')" rows="1" placeholder="...">{{ form.specs.vars.value }}</textarea>
                                    <label for="{{ form.specs.vars.id }}">Item specs</label>
                                    <p id="specsstatus" class="help-block"></p>
                                </div>
                            </div>{#end .col #}
                            {#
                            <div class="col-md-6">
                                <div class="form-group">
                                    <select class="form-control select2-tags" id="item_tags" data-placeholder="Select tags" multiple>
                                            <?php //echo $tags_list; ?>
                                    </select>
                                    <label>Tags</label>
                                </div>
                            </div>#}{#end .col
                            #}

                        </div>{#end .row #}
                        <div class="row">
                            <div class="col-md-8 col-xs-12">
                                <div class="row sq-m">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="input-group date" id="purchasedatediv">
                                                <div class="input-group-content">
                                                    <input type="text" class="form-control" id="{{ form.purchasedate.vars.id }}" name="{{ form.purchasedate.vars.full_name }}" autocomplete="off" data-rule-date="true" placeholder="yyyy-mm-dd" value="{{ form.purchasedate.vars.value }}">
                                                    <label for="{{ form.purchasedate.vars.id }}">Purchase date</label>
                                                    <p id="pdatestatus" class="help-block"></p>
                                                </div>
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>

                                    </div>{#end .col #}
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="input-group" id="supplierdiv">
                                                <div class="input-group-content">
                                                    <select class="form-control select2-suppliers" name="{{ form.supplier.vars.full_name }}" id="{{ form.supplier.vars.id }}" data-placeholder="{{ form.supplier.vars.placeholder }}">
                                                        <option value=""></option>
                                                        {% for key,val in form.supplier.vars.choices %}
                                                            <option value="{{ val.value }}" {{  form.supplier.vars.value == '' and key == 0 ? ' selected ' :(val.value == form.supplier.vars.value ? ' selected ' : '') }}>{{ val.label | trans }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <label for="{{ form.supplier.vars.id }}">Purchased from</label>
                                                    <p id="supplierstatus" class="help-block"></p>
                                                </div>
                                                <span class="input-group-addon">
                                                    {#<button type="button" class="btn ink-reaction btn-default-light">#}
                                                        {#<i class="fa fa-plus"></i>#}
                                                    {#</button>#}
                                                </span>
                                            </div>
                                        </div>{#end .form-group #}
                                    </div>{#end .col #}

                                </div>{#end .row #}

                                <div class="row sq-m">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-content">
                                                    <input type="number" class="form-control" id="{{ form.price.vars.id }}" name="{{ form.price.vars.full_name }}" data-rule-number="true" onfocus="emptyElement('pusdstatus')"  value="{{ form.price.vars.value }}" placeholder="...">
                                                    <label for="{{ form.price.vars.id }}">Price/ Value</label>
                                                    <p id="pusdstatus" class="help-block"></p>
                                                </div>
                                                <div class="input-group-btn">
                                                    <select class="selectpicker show-tick" id="{{ form.currency.vars.id }}" name="{{ form.currency.vars.full_name }}" data-style="btn-default" data-width="auto">
                                                        {% for key,val in form.currency.vars.choices %}
                                                            <option value="{{ val.value }}" {{ form.currency.vars.value == '' and key == 0 ? ' selected ' :(val.value == form.currency.vars.value ? ' selected ' : '') }}>{{ val.label | trans }}</option>
                                                        {% endfor %}
                                                    </select>

                                                </div>
                                            </div>{#end .input-group #}
                                        </div>{#end .form-group #}
                                    </div>{#end .col #}
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="number" class="form-control" id="{{ form.lifeyears.vars.id }}" name="{{ form.lifeyears.vars.full_name }}" data-rule-digits="true" onfocus="emptyElement('lifestatus')"  value="{{ form.lifeyears.vars.value }}" placeholder="...">
                                            <label for="{{ form.lifeyears.vars.id }}">Lifetime (years)</label>
                                            <p id="lifestatus" class="help-block"></p>
                                        </div>
                                    </div>{#end .col #}
                                </div>{#end .row #}

                                <div class="row sq-m">
                                    <div class="col-md-12">{##}
                                        <div class="form-group">
                                            <select class="form-control select2-departments" name="{{ form.department.vars.full_name }}" id="{{ form.department.vars.id }}" data-placeholder="{{ form.department.vars.placeholder }}">
                                                <option value=""></option>
                                                {% for key,val in form.department.vars.choices %}
                                                    <option value="{{ val.value }}" {{  form.department.vars.value == '' and key == 0 ? ' selected ' :(val.value == form.department.vars.value ? ' selected ' : '') }}>{{ val.label | trans }}</option>
                                                {% endfor %}
                                            </select>
                                            <label for="{{ form.department.vars.id }}">Department</label>
                                        </div>
                                    </div>{#end .col #}
                                </div>{#end .row #}

                            </div>{#end .col #}
                            <div class="col-md-4 col-xs-12">
                                <div class="row sq-m">
                                    <div class="col-md-12" style="padding-bottom: 11px;">
                                        <label class="control-label custom-label" style="opacity: 0.5">Item status <strong style="color:red;">*</strong></label>

                                        {% for key,val in form.status.vars.choices %}
                                            <div class="radio radio-styled">
                                                <label class="radio-styled">
                                                    <input type="radio" name="{{ form.status.vars.full_name }}" value="{{ val.value }}" {{  form.status.vars.value == '' and loop.first ? ' checked ' : (val.value == form.status.vars.value ? ' checked ' : '') }}>
                                                    <span>{{ val.label }}</span>
                                                </label>
                                            </div>
                                        {% endfor %}

                                        <div class="form-group" style="margin-bottom:0; padding-top:0">
                                            <input type="text" class="form-control" id="{{ form.conditionNotes.vars.id }}" name="{{ form.conditionNotes.vars.full_name }}" onfocus="emptyElement('supplierstatus')" value="{{ form.conditionNotes.vars.value }}" placeholder="specify condition notes">
                                            <label for="cond_notes"></label>
                                            <p id="cond_notesstatus" class="help-block"></p>
                                        </div>{#end .form-group #}

                                    </div>
                                </div>
                            </div>{# end .col #}
                        </div>{#{#end .row #}

                        <div class="row sq-m">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea type="text" class="form-control" id="{{ form.itemNotes.vars.id }}" name="{{ form.itemNotes.vars.full_name }}" onfocus="emptyElement('notesstatus')" rows="1" placeholder="...">{{ form.itemNotes.vars.value }}</textarea>
                                    <label for="item_notes">Additional notes</label>
                                    <p id="notesstatus" class="help-block"></p>
                                </div>
                            </div>{#end .col #}

                        </div>{#end .row #}

                        <div class="row">

                            {% for error in errors %}
                                <div class="col-md-12">
                                    <p class="mt-5 mb-3 text-danger">
                                        * {{ error.message }}
                                    </p>
                                </div>
                            {% endfor %}

                        </div>{#end .row #}
                    </div>{#end .col #}
                </div>{#end .row #}


            </div>{#end .col #}

        </div>{#end .row #}
    </div>{#end .card-body #}

    {# the argument of csrf_token() is an arbitrary value used to generate the token #}
    <input type="hidden" id="{{ form._token.vars.id }}" name="{{ form._token.vars.full_name }}" value="{{ form._token.vars.value }}">

    {# BEGIN FORM FOOTER #}
    <div class="card-actionbar">
        <div class="card-actionbar-row" id="add-asset-buttons">
            <div class="row">
                <div style="float: right" class="col-xs-12 col-sm-12 col-md-2">
                    <div style="padding: 0 7px">
                        <button id="savebtn" style="width: 100%" type="submit" class="btn btn-raised btn-default-bright style-primary">SAVE ASSET</button>
                    </div>
                </div>
            </div>
        </div>{#end .card-actionbar-row #}
    </div>{#end .card-actionbar #}
    {# END FORM FOOTER #}
</form>

