{% extends 'base.html.twig' %}

{% block page_title %}Edit : {{ asset.name }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('asset_add_edit') }}
{#    <link type="text/css" rel="stylesheet" href="{{ asset('libs/select2/select2_new/select2.min.css') }}" />#}
{#    #}{#<link type="text/css" rel="stylesheet" href="{{ asset('css/theme-default/libs/select2/select2.css') }}" />#}
{#    <link type="text/css" rel="stylesheet" href="{{ asset('libs/bootstrap-datepicker/datepicker3.css') }}" />#}
{#    <link type="text/css" rel="stylesheet" href="{{ asset('libs/jquery-ui/jquery-ui-theme.css') }}" />#}
{#    <link rel="stylesheet" href="{{ asset('libs/bootstrap-selectpicker/bootstrap-select.min.css') }}">#}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('asset_list') }}">Assets</a></li>
    <li class="active">Edit  : {{ asset.name }}</li>
{% endblock %}

{% block body %}

<div class="section-body contain-lg">

    <div class="row">

        {# BEGIN ADD ITEM FORM #}
        <div class="col-md-12">
            <div id="reg_form" class="card">
                <div class="card-head style-primary">
                    <header>
                        <a class="btn btn-flat hidden-xs" href="{{ path('asset_list') }}"><span class="glyphicon glyphicon-arrow-left"></span> &nbsp;Back to list</a>
                    </header>
                    <div class="tools">
                        <span class="btn" style="color:#fff; padding:0" data-toggle="tooltip" data-placement="top" data-original-title="Delete">
							<a class="open-deleteItemModal btn btn-icon-toggle ink-reaction" href="#deleteItemModal" data-toggle="modal" data-itemid="{{ asset.id }}"><i class="fa fa-trash"></i></a>
						</span>
                    </div>
                </div>
                {{ include('asset/_form.html.twig') }}

            </div>{#end .card #}
        </div>{#end .col #}
        {# END ADD ITEM FORM #}

    </div>{#end .row #}

</div>{#end .section-body #}

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {{ include('includes/itemactions_modals.html.twig') }}
{% endif %}

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    {{ encore_entry_script_tags('asset_add_edit') }}

    {# ADDITIONAL JAVASCRIPT2 #}
{#    <script src="{{ asset('/libs/select2/select2_new/select2.min.js') }}"></script>#}
{#    <script src="{{ asset('/libs/inputmask/jquery.inputmask.bundle.min.js') }}"></script>#}
{#    <script src="{{ asset('/libs/moment/moment.min.js') }}"></script>#}
{#    <script src="{{ asset('/libs/bootstrap-datepicker/bootstrap-datepicker.js') }}"></script>#}
{#    <script src="{{ asset('/libs/jquery-validation/dist/jquery.validate.min.js') }}"></script>#}
{#    <script src="{{ asset('/libs/jquery-validation/dist/additional-methods.min.js') }}"></script>#}
{#    <script src="{{ asset('/libs/bootstrap-selectpicker/bootstrap-select.min.js') }}"></script>#}

{#    <script src="{{ asset('js/components/asset-form-components.js') }}"></script>#}

{%  endblock %}