{% extends 'base.html.twig' %}

{% block page_title %}Assets{% endblock %}

{% block breadcrumb %}
    {% if breadcrumbs != '' %}
        <li> <a href="{{ path('asset_list') }}"> Assets </a></li>
        <li class="active">{{ breadcrumbs }}</li>
    {% else %}
	    <li class="active">Assets</li>
    {% endif %}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block common_header %}
    {{ parent() }}

    {{ encore_entry_link_tags('asset_index') }}

{% endblock %}

{% block body %}
	<div class="section-body">

		{# BEGIN ASSETS DATATABLE #}
		{% if is_granted('ROLE_ADMIN') %}
			<a href="{{ path('asset_new') }}" type="button" class="addNewAsset_Btn btn ink-reaction btn-floating-action btn-primary active float-right" data-toggle="tooltip" data-placement="top" data-trigger="hover" data-original-title="Add new item"><i class="fa fa-plus"></i></a>
		{% endif %}

		<div class="row">
			<div class="col-lg-12">
                <table id="assetList" class="table table-striped table-hover display responsive no-wrap" width="100%">
						<thead>
							<tr>
								{% if is_granted("ROLE_ADMIN") %}
                                    <th>Actions</th>
                                {% endif %}
								<th class="sort-numeric">#</th>
								<th class="sort-alpha">Itemname</th>
								<th class="sort-alpha">Category</th>
                                <th class="sort-numeric">Barcode</th>
								<th class="sort-numeric">Serial number</th>
                                <th>Status</th>
                                <th>Assigned</th>
								<th>Location</th>
                                <th class="sort-alpha">Department</th>
							</tr>
						</thead>
						<tbody>
                        {% for asset in assets %}

							<tr class="js-asset-table-row" data-id="{{ asset.id }}" >
                                {% if is_granted("ROLE_ADMIN") %}
                                    <td class="no-wrap js-datatable-actions">&nbsp; &nbsp;
                                        <a href="{{ path('asset_edit', {'id': asset.id}) }}" data-toggle="tooltip" data-placement="top" data-trigger="hover" data-original-title="Edit item"><i class="fa fa-pencil"></i></a>
									</td>
                                {% endif %}

								<td>{{ loop.index }}</td>
								<td>{{ asset.name }}</td>
								<td>{{ asset.category.parent }} {{ asset.category ? '&#8594;' : '?' }} {{ asset.category }}</td>
                                <td>{{ asset.barcode }}</td>
								<td>{{ asset.sn }}</td>
                                <td>{{ asset.status }}</td>
                                <td>{{ asset.isAssigned ? asset.assignedUser : '-' }}</td>
                                <td>{{ asset.location ? asset.location.parent : '' }} {{ asset.location ? '&#8594;' : '?' }} {{ asset.location ? asset.location : '' }}</td>
                                <td>{{ asset.department ? asset.department : '-' }}</td>
							</tr>
							</a>
                        {% else %}
							<tr>
								<td colspan="20">no records found</td>
							</tr>
                        {% endfor %}
						</tbody>
					</table>
			</div>{#end .col #}
		</div>{#end .row #}
		{# END DATATABLE 1 #}

		<hr class="ruler-xxl"/>



	</div>{#end .section-body #}
{% endblock %}



{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('asset_index') }}

    <script>
        assetListPath = "{{ path('asset_list') }}";
    </script>

{% endblock %}

