{% extends 'base.html.twig' %}

{% block page_title %}New Asset{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('asset_add_edit') }}

{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('asset_list') }}">Assets</a></li>
    <li class="active">New</li>
{% endblock %}

{% block body %}

<div class="section-body contain-lg">

    <div class="row">

        {# BEGIN ADD ITEM FORM #}
        <div class="col-md-12">
            <div id="reg_form" class="card">
                <div class="card-head style-primary">
                    <header>New item</header>
                    <div class="tools">
                        <a class="btn btn-flat hidden-xs" href="{{ path('asset_list') }}"><span class="fa fa-arrow-left"></span> &nbsp;Back to list</a>
                    </div>
                </div>
                {{ include('asset/_form.html.twig') }}

            </div>{#end .card #}
        </div>{#end .col #}
        {# END ADD ITEM FORM #}

    </div>{#end .row #}
</div>{#end .section-body #}

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    {{ encore_entry_script_tags('asset_add_edit') }}

{%  endblock %}