{% extends 'base.html.twig' %}

{% block page_title %}{{ asset.name }}{% endblock %}

{% block stylesheets %}
	{{ parent() }}

	{{ encore_entry_link_tags('asset_show') }}

{% endblock %}

{% block breadcrumb %}
	<li><a href="{{ path('asset_list') }}">Assets</a></li>
	<li class="active">{{ asset.name }}</li>
{% endblock %}

{% block body %}
<div class="section-body contain-lg">

	<div class="row">

		{# BEGIN ADD ITEM FORM #}
		<div class="col-md-12">
			<div id="asset_card" class="card">
				<div class="card-head style-primary">
					<header><a class="btn btn-flat" href="{{ path('asset_list') }}"><span class="glyphicon glyphicon-arrow-left"></span> &nbsp;Back to list</a></header>
					<div class="tools">
                        {% if is_granted('ROLE_ADMIN') %}
							<span class="btn" style="color:#fff; padding:0" data-toggle="tooltip" data-placement="top" data-original-title="{{ asset.isAssigned ? 'Check in this item' : 'Assign (Check-out)' }}">
								<a id="assignItemLink" class="btn btn-icon-toggle {{ asset.isAssigned ? 'js-asset-isassigned' : '' }} ink-reaction" href="#"  data-itemid="{{ asset.id }}" data-checkouturl="{{ path('asset_getmodal_checkout', {'id': asset.id}) }}" data-checkinurl="{{ path('asset_getmodal_checkin', {'id': asset.id}) }}"><i class="fa {{ asset.isAssigned ? 'fa-reply' : 'fa-user-plus' }}"></i></a>
							</span>
							<span class="btn" style="color:#fff; padding:0" data-toggle="tooltip" data-placement="top" data-original-title="Edit">
								<a class="btn btn-icon-toggle ink-reaction" href="{{ path('asset_edit', {'id': asset.id}) }}" ><i class="fa fa-pencil"></i></a>
							</span>
							<form method="post" class="js-asset-delete-form" action="{{ path('asset_delete', {'id': asset.id}) }}">
									<input type="hidden" name="_method" value="DELETE">
									<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ asset.id) }}">
									<span class="btn" style="color:#fff; padding:0" data-toggle="tooltip" data-placement="top" data-original-title="Delete">
										<a class="btn js-asset-delete-link btn-icon-toggle ink-reaction" href="#" data-deleteurl="{{ path('asset_delete', {'id' : asset.id}) }}" data-itemid="{{ asset.id }}"><i class="fa fa-trash"></i></a>
									</span>
							</form>

                        {% endif %}
					</div>
				</div>
				<div class="card-body" id="show_item_card">
					<div class="row">

						<div class="col-xs-12">

							<div class="row">
								<div class="col-md-4">
									<div class="row">
										<div class="col-md-12">
											<div class="card sq-m">
												<div class="card-body no-margin no-padding">
                                                    {% if asset.photo is not empty and file_exists('uploads/asset/'~asset.photo) %}
														<img src="{{ asset('uploads/asset/'~asset.photo) }}" class="asset-photo-show" alt="">
                                                    {% else %}
														<img src="{{ asset('build/images/noimage.jpg') }}" class="asset-photo-show" alt="">
                                                    {% endif %}
												</div>{#end .card-body #}
											</div>{#end .card #}
										</div>{#end .col #}
									</div>{#end .row #}
									<div class="row sq-m js-assignee-details-wrapper">
										{% if not asset.isAssigned %}
                                            <div class="col-md-12 sq-col-nobdr-b">
                                                <div class="sq-cell">
                                                    <label class="control-label">Item Not Assigned</label>
                                                </div>
                                            </div>{#end .col #}
                                        {% else %}
                                            <div class="col-md-12">
                                                <div class="sq-cell">
                                                    <label class="control-label">Assigned To : </label>&nbsp;<span>{{ asset.assignedUser ? asset.assignedUser : '?' }}</span>
                                                </div>
                                            </div>{#end .col #}
                                            <div class="col-md-6">
                                                <div class="sq-cell">
                                                    <div class="">
                                                        <label class="control-label">Check-out date</label><br>
                                                        <span>{{ asset.lastCheckoutDate|date('M d, Y') }}</span>
                                                    </div>
                                                </div>

                                            </div>{#end .col #}
                                            <div class="col-md-6">
                                                <div class="sq-cell">
                                                    <label class="control-label">Due Date</label><br>
                                                    <span>{{ asset.checkInDate|date('M d, Y') }}</span>
                                                </div>{#end .form-group #}
                                            </div>{#end .col #}
                                            <div class="col-md-12">
                                                <div class="opacity-50 text-center">Checkin Due</div>
                                                <div class="text-center js-due-date-formatted">{{ time_diff(asset.checkInDate) }}</div>
                                            </div>{#end .col #}
                                        {% endif %}
									</div>{#end .row #}

                                    {% if asset.isAssigned %}
{#                                        <div class="row sq-m">#}
{#                                            <div class="col-md-12">#}
{#                                                <div class="sq-cell">#}
{#                                                    <div class="">#}
{#                                                        <br>#}
{#                                                        <br>#}
{#                                                        <div class="text-center opacity-75" style="font-style: italic">signature</div>#}
{#                                                    </div>{#end .input-group #}
{#                                                </div>{#end .form-group #}
{#                                            </div>{#end .col #}
{#                                        </div>{#end .row #}
                                    {%  endif %}



								</div>{#end .col #}
								<div class="col-md-8">
									<div class="row">
										<div class="col-md-7">
											<div class="row sq-m">
												<div class="col-md-12">
													<div class="sq-cell">
														<label class="control-label width-3">Item name : </label>&nbsp;
														<span data-toggle="tooltip" data-placement="right" data-trigger="hover" data-original-title="Item name, make or model ">{{ asset.name }}</span>
													</div>
												</div>{#end .col #}
												<div class="col-md-12">
													<div class="sq-cell">
														<label class="control-label width-3">Serial number : </label>&nbsp;
														<span data-toggle="tooltip" data-placement="right" data-trigger="hover" data-original-title="unique asset ID">{{ asset.sn }}</span>
													</div>
												</div>{#end .col #}
												<div class="col-md-12 sq-col-nobdr-b">
													<div class="sq-cell">
														<label class="control-label width-3">Barcode : </label>&nbsp;
														<span data-toggle="tooltip" data-placement="right" data-trigger="hover" data-original-title="unique internal ID">{{ asset.barcode }}</span>
													</div>
												</div>{#end .col #}
											</div>{#end .row #}
										</div>{#end .col #}
										<div class="col-md-5">
											<div class="row sq-m">
												<div class="col-md-12">
													<div class="sq-cell">
														<label class="control-label width-3">Item category : </label>
														<span class="text-small text-info">
															<a href="{{ path('asset_list', {'pc' : asset.category.parent.id , 'bc' : asset.category.parent.name }) }}" title="click to view items under {{ asset.category.parent }} category">
																{{ asset.category.parent }}
															</a>
														</span>
													</div>
												</div>{#end .col #}
												<div class="col-md-12">
													<div class="sq-cell">
														<label class="control-label width-3">Sub-category : </label>
														<span class="text-medium text-info">
															<a href="{{ path('asset_list', {'category' : asset.category.id , 'bc' : asset.category.parent.name ~ '::' ~ asset.category.name }) }}" title="click to view items under {{ asset.category }} sub-category">
																{{ asset.category }}
															</a>
														</span>
													</div>
												</div>{#end .col #}
												<div class="col-md-12 sq-col-nobdr-b">
													<div class="sq-cell">
														<label class="control-label width-3">Item status : </label>
														<span><span class="js-asset-status">{{ asset.status }}</span> <span class="fa fa-fw js-asset-conditionnotes fa-question-circle fa-lg text-info cursor-pointer" data-toggle="tooltip" data-placement="top" data-trigger="hover" data-original-title="{{ not asset.conditionNotes ? "Condition details not specified" : asset.conditionNotes }}"></span></span>
													</div>
												</div>{#end .col #}
											</div>{#end .row #}
										</div>{#end .col #}
									</div>{#end .row #}

									<div class="row sq-m">
										<div class="col-md-12 sq-col-nobdr-b">
											<div class="sq-cell">
												<label>Item specs :</label><br>
												<span>{{ asset.specs ? asset.specs : '?' }}</span>
											</div>
										</div>{#end .col #}
                                        {#<div class="col-md-6">#}
                                            {#<div class="sq-cell">#}
                                                {#<select class="form-control select2-tags" id="item_tags" data-placeholder="Select tags" multiple>#}
                                                        {#<?php //echo $tags_list; ?>#}
                                                {#</select>#}
                                                {#<label>Tags</label>#}
                                            {#</div>#}
                                        {#</div>#}{#end .col #}

									</div>{#end .row #}
									<div class="row">
										<div class="col-md-7 col-xs-7">
											<div class="row sq-m">
												<div class="col-md-6 sq-col-bdr-r-lg">
													<div class="sq-cell">
														<div class="">
															<label class="control-label">Purchase date</label><br>
															<span>{{ asset.purchasedate ? asset.purchasedate|date('M d, Y') : '?' }}</span>
														</div>
													</div>

												</div>{#end .col #}
												<div class="col-md-6 sq-col-nobdr-r">
													<div class="sq-cell">
														<label>Purchased from</label><br>
														<span>{{ asset.supplier ? asset.supplier : '?' }}</span>
													</div>{#end .form-group #}
												</div>{#end .col #}

												<div class="col-md-6 sq-col-nobdr-b-lg sq-col-bdr-b-md sq-col-bdr-r-lg">
													<div class="sq-cell">
														<div class="input-group">
															<div class="input-group-content">
																<label class="control-label">Price</label><br>
                                                                {% if asset.price %}
																    <span>{{ asset.price ? asset.price|number_format(0, '.', ',') }} {{ asset.price ? asset.currency|upper : '' }}</span>
                                                                {% else %}
                                                                    <span>?</span>
                                                                {% endif %}
															</div>

														</div>{#end .input-group #}
													</div>{#end .form-group #}
												</div>{#end .col #}
												<div class="col-md-6 sq-col-nobdr-b sq-col-nobdr-r">
													<div class="sq-cell">
														<label>Lifetime</label><br>
														<span>{{ asset.lifeyears ? asset.lifeyears ~ " years" : '?'}}</span>
													</div>
												</div>{#end .col #}
											</div>{#end .row #}

										</div>{#end .col #}
										<div class="col-md-5 col-xs-5">
											<div class="row sq-m">
												<div class="col-md-12">
													<div class="sq-cell">
														<label class="control-label">Department</label><br>
														<span>{{ asset.department ? asset.department : '?'}}</span>
													</div>
												</div>
												<div class="col-md-12 sq-col-nobdr-b">
													<div class="sq-cell">
														<label class="control-label">Location : </label>
														<span>{{ asset.location ? asset.location.parent : '?'}} &#8594;<br/> {{ asset.location ? asset.location : '?'}}</span>
													</div>
												</div>
											</div>
										</div>{#end .col #}
									</div>{#end .row #}

									<div class="row sq-m">
										<div class="col-md-12 sq-col-nobdr-b">
											<div class="sq-cell">
												<label for="item_notes">Additional notes</label><br>
												<span>{{ asset.itemNotes ? asset.itemNotes : '?' }}</span>
											</div>
										</div>{#end .col #}

									</div>{#end .row #}

                                    <div class="row sq-m">
                                        <div class="col-md-6 sq-col-bdr-r-lg sq-col-nobdr-b-lg sq-col-bdr-b-md">
                                            <div class="sq-cell">
                                                <label for="item_notes">Added On</label><br>
                                                <span>{{ asset.createdAt|date('M d, Y') }} ( {{ asset.createdAt|ago }} )</span>
                                            </div>
                                        </div>{#end .col #}

                                        <div class="col-md-6 sq-col-nobdr-b sq-col-nobdr-r">
                                            <div class="sq-cell">
                                                <label for="item_notes">Last Review</label><br>
                                                <span>{{ asset.updatedAt|ago }}</span>
                                            </div>
                                        </div>{#end .col #}

                                    </div>{#end .row #}

									<div class="row">
										<div class="col-md-12">
											<div class="card card-underline linked-assets-card" style="margin: 0 0px 10px; border-radius: 10px;">
												<div class="card-head">
													<header style="font-size: 14px"><i class="fa fa-fw fa-link"></i><span class="js-linked-assets-header">{{ asset.linkedAssets.count < 1 ? "No linked assets" : asset.linkedAssets.count < 2 ? "1 linked asset" : asset.linkedAssets.count ~ " linked assets" }}</span></header>
													<div class="tools">
														<div class="btn-group">
															<span data-toggle="tooltip" data-placement="top" data-trigger="hover" data-original-title="Click to refresh">
																<a class="btn btn-icon-toggle btn-refresh"><i class="md md-refresh"></i></a>
															</span>
															<span data-toggle="tooltip" data-placement="top" data-trigger="hover" data-original-title="Click to collapse">
																<a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>
															</span>
															<span data-toggle="tooltip" data-placement="top" data-trigger="hover" data-original-title="Click to link a related asset">
																<a class="btn btn-icon-toggle js-link-assets-btn btn-default" data-list-path="{{ path('asset_array') }}" data-search-path="{{ path('asset_search') }}" data-link-path="{{ path('link_asset', {'id' : asset.id}) }}" data-unlink-path="{{ path('unlink_asset', {'id' : asset.id}) }}">
																	<i class="fa fa-plus"></i>
																</a>
															</span>
														</div>

													</div>
												</div>{#end .card-head #}
												<div class="card-body no-padding scroll" style="max-height: 300px;">
													<ul class="list divider-full-bleed">

														{% for linkdAsset in asset.linkedAssets %}
															<li class="tile">
																<a class="tile-content ink-reaction" href="{{ path('asset_show', {'id' : linkdAsset.linked.id}) }}" target="_blank">
																	<div class="tile-icon">
																		{% if linkdAsset.linked.photo is not empty and file_exists('uploads/asset/thumbs/'~linkdAsset.linked.photo) %}
																			<img src="{{ asset('uploads/asset/thumbs/'~linkdAsset.linked.photo) }}" alt="">
																		{% else %}
																			<img src="{{ asset('build/images/noimage2.jpg') }}" alt="">
																		{% endif %}
																	</div>
																	<div class="tile-text">
																		{{ linkdAsset.linked.name }}
																		<small>{{ 'Barcode : ' ~ linkdAsset.linked.barcode }} {{ ' | Sn : ' ~ linkdAsset.linked.sn }}</small>
																	</div>
																</a>
																<a class="btn btn-flat ink-reaction js-unlink-asset-btn" data-unlink-id="{{ linkdAsset.linked.id }}" data-unlink-path="{{ path('unlink_asset', {'id' : asset.id}) }}">
																	<i class="fa fa-unlink"></i>
																</a>
															</li>
														{% endfor %}

													</ul>
												</div>{#end .card-body #}
												<div class="card-actionbar"></div>

											</div>{#end .card #}

										</div>{#end .col #}
									</div>{#end .row #}

								</div>{#end .col #}

							</div>{#end .row #}


						</div>{#end .col #}

						<div id="item-history" class="col-xs-12">
							<div class="text-center">
								<button type="button" class="btn ink-reaction js-load-history-btn btn-raised btn-default-bright" data-history-path="{{ path('asset_history', {'id': asset.id}) }}">Load asset history</button>
							</div>
							<div id="history-container">

							</div>

						</div>{#end .col #}

					</div>{#end .row #}
				</div>{#end .card-body #}
				{# END ADD NEW ITEMS #}
			</div>{#end .card #}
		</div>{#end .col #}
		{# END ADD ITEM FORM #}

	</div>{#end .row #}

</div>{#end .section-body #}
{% if is_granted('ROLE_ADMIN') %}
{#	{{ include('includes/itemactions_modals.html.twig') }}#}
	<div class="js-checkout-modal-wrapper">

	</div>
{% endif %}

{% endblock %}

{% block javascripts %}

	{{ parent() }}

	{{ encore_entry_script_tags('asset_show') }}

{%  endblock %}


