{% extends 'base.html.twig' %}

{% block title %}Asset list{% endblock %}

{% block breadcrumb %}
    <li class="active">Assets</li>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
    {#<link type="text/css" rel="stylesheet" href="{{ asset('css/theme-default/libs/data-tables/jquery.dataTables.min.css') }}" />#}
    {#<link rel="stylesheet" type="text/css" href="{{ asset('datatables.min.css') }}">#}
    {#<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">#}
    {#<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">#}
    {#<style type="text/css">#}
        {##base {#}
            {#overflow: auto;#}
        {#}#}
    {#</style>#}

{% endblock %}

{% block common_header %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('css/theme-default/libs/DataTables/jquery.dataTables.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ asset('css/theme-default/libs/DataTables/extensions/dataTables.colVis.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ asset('css/theme-default/libs/DataTables/extensions/dataTables.tableTools.css') }}" />
    {#<link rel="stylesheet" type="text/css" href="{{ asset('css/theme-default/libs/DataTables/datatables_custom.css') }}">#}
    {#<style type="text/css">#}
        {#.dt-button-collection button.buttons-columnVisibility:nth-child(2) {#}
            {#display: none;#}
        {#}#}

    {#</style>#}

{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h4>Assets list</h4>
        </div><!--end .col -->
        <div class="col-lg-12">
            <table class="table" id="assetList" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Actions</th>
                        <th class="sort-numeric">Id</th>
                        <th class="sort-alpha">Itemname</th>
                        <th class="sort-numeric">Sn</th>
                        <th class="sort-numeric">Barcode</th>
                        <th class="sort-alpha">Specs</th>
                        <th>Purchasedate</th>
                        <th class="sort-numeric">Price</th>
                        <th>Currency</th>
                        <th>Lifeyears</th>
                        <th>Item_condition</th>
                        <th>Condition_notes</th>
                        <th>Assigned</th>
                        <th>Lastreview</th>
                        <th>Added_on</th>
                        <th>Item_notes</th>
                    </tr>
                </thead>
                <tbody>
                {% for asset in assets %}

                    <tr>
                        <td>
                            &nbsp;
                            <a href="{{ path('asset_show', {'id': asset.id}) }}"><i class="fa fa-search"></i></a>
                            &nbsp; &nbsp;
                            <a href="{{ path('asset_edit', {'id': asset.id}) }}"><i class="fa fa-pencil"></i></a>
                        </td>
                        <td style="width: 5px">{{ asset.id }}</td>
                        <td>{{ asset.itemname }}</td>
                        <td>{{ asset.sn }}</td>
                        <td>{{ asset.barcode }}</td>
                        <td>{{ asset.specs }}</td>
                        <td>{{ asset.purchasedate ? asset.purchasedate|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ asset.price }}</td>
                        <td>{{ asset.currency }}</td>
                        <td>{{ asset.lifeyears }}</td>
                        <td>{{ asset.itemCondition }}</td>
                        <td>{{ asset.conditionNotes }}</td>
                        <td>{{ asset.assigned ? 'Yes' : 'No' }}</td>
                        <td>{{ asset.lastreview ? asset.lastreview|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ asset.addedOn ? asset.addedOn|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ asset.itemNotes }}</td>
                    </tr>
                </a>
                {% else %}
                    <tr>
                        <td colspan="20">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Actiona</th>
                        <th>Id</th>
                        <th>Itemname</th>
                        <th>Sn</th>
                        <th>Barcode</th>
                        <th>Specs</th>
                        <th>Purchasedate</th>
                        <th>Price</th>
                        <th>Currency</th>
                        <th>Lifeyears</th>
                        <th>Item_condition</th>
                        <th>Condition_notes</th>
                        <th>Assigned</th>
                        <th>Lastreview</th>
                        <th>Added_on</th>
                        <th>Item_notes</th>
                    </tr>
                </tfoot>
            </table><!-- END ASSETS DATATABLE -->
        </div><!--end .col -->
    </div><!--end .row -->

    <a href="{{ path('asset_new') }}">Create new</a>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" charset="utf8" src="{{ asset('datatables.min.js') }}"></script>

    <script>
        $(document).ready( function () {
            $('#assetList').DataTable({
                columnDefs: [
                    { width: 10, targets: 0 }
                ],
                responsive : true,
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'colvis',
                        /*postfixButtons: ['colvisRestore'],*/
                        prefixButtons: ['colvisRestore'],
                    }
                ]
            });



            // Setup - add a text input to each footer cell
            //$('#assetList tfoot th').firstChild.disable();
            $('#assetList tfoot th').each( function () {
                var title = $(this).text();
                $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
            } );

            $('a.toggle-vis').on( 'click', function (e) {
                e.preventDefault();

                // Get the column API object
                var table = $('#assetList').DataTable();
                var column = table.column( $(this).attr('data-column') );

                // Toggle the visibility
                column.visible( ! column.visible() );
            } );

            // Apply the search
            var table = $('#assetList').DataTable();
            table.columns().every( function () {
                var that = this;

                $( 'input', this.footer() ).on( 'keyup change', function () {
                    if ( that.search() !== this.value ) {
                        that
                            .search( this.value )
                            .draw();
                    }
                } );
            } );
        } );
    </script>

{% endblock %}