<form method="post" action="{{ path('supplier_delete', {'id': supplier.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ supplier.id) }}">
{#    <button class="btn ink-reaction btn-flat btn-danger">Delete</button>#}
    <button class="btn btn-icon-toggle ink-reaction" data-toggle="tooltip" data-placement="top" data-original-title="Delete this supplier"><i class="fa fa-trash"></i></button>
</form>