{{ form_start(form) }}
    <div class="card-body">
        {{ form_widget(form) }}
    </div>
    {# BEGIN FORM FOOTER #}
    <div class="card-actionbar">
        <div class="card-actionbar-row">
            <button class="btn btn-raised btn-default-bright style-primary">{{ button_label|default('Save') }}</button>
        </div>{#end .card-actionbar-row #}
    </div>{#end .card-actionbar #}
    {# END FORM FOOTER #}
{{ form_end(form) }}