{% extends 'base.html.twig' %}

{% block page_title %}Edit supplier : {{ supplier.name }}{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('supplier_index') }}">Suppliers</a></li>
    <li class="active">Edit : {{ supplier.name }} </li>
{% endblock %}

{% block body %}
{#    <h1>Edit Supplier</h1>#}

    <div class="section-body contain-lg">

        <div class="row">

            {# BEGIN ADD ITEM FORM #}
            <div class="col-lg-offset-1 col-md-8">
                <div class="card">
                    <div class="card-head style-primary">
                        <header>
                            <a class="btn btn-flat hidden-xs" href="{{ path('supplier_index') }}"><span class="glyphicon glyphicon-arrow-left"></span> &nbsp;Back to list</a>
                        </header>
                        <div class="tools">
                                {{ include('supplier/_delete_form.html.twig') }}
                        </div>
                    </div>
                    {{ include('supplier/_form.html.twig', {'button_label': 'Update'}) }}

                </div>{#end .card #}
            </div>{#end .col #}
            {# END ADD ITEM FORM #}

        </div>{#end .row #}
    </div>{#end .section-body #}

{% endblock %}