{% extends 'base.html.twig' %}

{% block page_title %}Suppliers{% endblock %}

{% block breadcrumb %}
    <li class="active">Suppliers</li>
{% endblock %}

{% block body %}
{#    <h1>Suppliers list</h1>#}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Supplier Name</th>
                <th>Shortname</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Website</th>
                <th>Added by</th>
                <th>Added on</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for supplier in suppliers %}
            <tr>
                <td>{{ supplier.id }}</td>
                <td>{{ supplier.name }}</td>
                <td>{{ supplier.shortname }}</td>
                <td>{{ supplier.phone }}</td>
                <td>{{ supplier.email }}</td>
                <td>{{ supplier.website }}</td>
                <td>{{ supplier.addedBy }}</td>
                <td>{{ supplier.addedOn ? supplier.addedOn|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('supplier_show', {'id': supplier.id}) }}">show</a>
                    <a href="{{ path('supplier_edit', {'id': supplier.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('supplier_new') }}" class="btn btn-raised btn-default-bright style-primary">Create new</a>
{% endblock %}