{% extends 'base.html.twig' %}

{% block page_title %}New Supplier{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('supplier_index') }}">Suppliers</a></li>
    <li class="active">New</li>
{% endblock %}

{% block body %}
{#    <h1>Create new Supplier</h1>#}

<div class="section-body contain-lg">

    <div class="row">

        {# BEGIN ADD ITEM FORM #}
        <div class="col-lg-offset-1 col-md-8">
            <div class="card">
                <div class="card-head style-primary">
                    <header>New user</header>
                    <div class="tools">
                        <a class="btn btn-flat hidden-xs" href="{{ path('supplier_index') }}"><span class="fa fa-arrow-left"></span> &nbsp;Back to list</a>
                    </div>
                </div>
                {{ include('supplier/_form.html.twig') }}

            </div>{#end .card #}
        </div>{#end .col #}
        {# END ADD ITEM FORM #}

    </div>{#end .row #}
</div>{#end .section-body #}
{% endblock %}