{% extends 'base.html.twig' %}

{% block page_title %}Supplier : {{ supplier.name }}{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('supplier_index') }}">Suppliers</a></li>
    <li class="active">{{ supplier.name }}</li>
{% endblock %}

{% block body %}
    <h1>Supplier</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ supplier.id }}</td>
            </tr>
            <tr>
                <th>SupplierName</th>
                <td>{{ supplier.name }}</td>
            </tr>
            <tr>
                <th>SupShortname</th>
                <td>{{ supplier.shortname }}</td>
            </tr>
            <tr>
                <th>SupPhone</th>
                <td>{{ supplier.phone }}</td>
            </tr>
            <tr>
                <th>SupEmail</th>
                <td>{{ supplier.email }}</td>
            </tr>
            <tr>
                <th>SupWebsite</th>
                <td>{{ supplier.website }}</td>
            </tr>
            <tr>
                <th>AddedBy</th>
                <td>{{ supplier.addedBy }}</td>
            </tr>
            <tr>
                <th>AddedOn</th>
                <td>{{ supplier.addedOn ? supplier.addedOn|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('supplier_index') }}">back to list</a>

    <a href="{{ path('supplier_edit', {'id': supplier.id}) }}">edit</a>

    {{ include('supplier/_delete_form.html.twig') }}
{% endblock %}