{% extends 'base.html.twig' %}

{% block page_title %}Locations{% endblock %}

{% block breadcrumb %}
    <li class="active">Locations</li>
{% endblock %}

{% block body %}
{#    <h1>Locations list</h1>#}



{#    <table class="table">#}
{#        <thead>#}
{#            <tr>#}
{#                <th>id</th>#}
{#                <th>Name</th>#}
{#                <th>Short name</th>#}
{#                <th>Parent</th>#}
{#                <th>Address</th>#}
{#                <th>Added on</th>#}
{#                <th>Actions</th>#}
{#            </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#        {% for location in locations %}#}
{#            <tr>#}
{#                <td>{{ location.id }}</td>#}
{#                <td>{{ location.name }}</td>#}
{#                <td>{{ location.shortName }}</td>#}
{#                <td>{{ location.parent }}</td>#}
{#                <td>{{ location.address }}</td>#}
{#                <td>{{ location.addedOn ? location.addedOn|date('Y-m-d H:i:s') : '' }}</td>#}
{#                <td>#}
{#                    <a href="{{ path('location_show', {'id': location.id}) }}">show</a>#}
{#                    <a href="{{ path('location_edit', {'id': location.id}) }}">edit</a>#}
{#                </td>#}
{#            </tr>#}
{#        {% else %}#}
{#            <tr>#}
{#                <td colspan="7">no records found</td>#}
{#            </tr>#}
{#        {% endfor %}#}
{#        </tbody>#}
{#    </table>#}

    <div class="row">
        <div class="col-12 d-flex align-content-start justify-items-evenly">
            <!-- <div class="col-xs-4"> -->
            <nav class="my-menu">
                <ul class="locations-list-accordion">
                    {% for location in parentlocations %}
                        <li>
                            <a href="#" title="">
                                {{ location.name }}
                            </a>
                            {% if location.children and location.children|length > 0 %}
                                <ul>
                                    {% for sub_location in location.children %}
                                        <li>
                                            <a href="#">
                                                {{ sub_location.name }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>

            </nav>
            <!-- </div> -->

        </div>
    </div>





    <a href="{{ path('location_new') }}" class="btn btn-raised btn-default-bright style-primary">Create new</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/components/AppAccordionList.js') }}"></script>
    <script>
        $(document).ready(function () {
            $('.locations-list-accordion').mgaccordion();
        });
    </script>
{% endblock %}