{% extends 'base.html.twig' %}

{% block title %}New Location{% endblock %}

{% block body %}
    <h1>Create new Location</h1>

    {{ include('location/_form.html.twig') }}

    <a href="{{ path('location_index') }}"><span class="glyphicon glyphicon-arrow-left"></span> back to list</a>
{% endblock %}