<div class="headerbar">
	{#<!-- Brand and toggle get grouped for better mobile display -->#}
	<div class="headerbar-left">
		<ul class="header-nav header-nav-options">
			<li>
				<a class="btn btn-icon-toggle menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
					<i class="fa fa-bars"></i>
				</a>
			</li>
			<li class="header-nav-brand" >
				<div class="brand-holder">
					<a class="logo" href="{{ path('homepage') }}">
						<span class="text-lg">{{ system_name }}</span>
					</a>
				</div>
			</li>

		</ul>
	</div>
	{#<!-- Collect the nav links, forms, and other content for toggling -->#}


	<div class="headerbar-right">
		{% if is_granted('ROLE_USER') %}
			<ul class="header-nav header-nav-options">
				<li>
					{#<!-- Search form -->#}
					<form class="navbar-search" role="search" action="{{ path('asset_search') }}">
						<div class="form-group">
							<input type="text" class="form-control" name="headerSearch" placeholder="Search assets ...">
						</div>
						<div class="dropdown js-search-suggestions">
							<ul class="dropdown-menu animation-dock">
								<li class="js-open-recent-search-offcanvas"><a href="#">Recent search <i class="fa fa-arrow-right"></i> </a></li>
{#								<li class="divider"></li>#}
{#								<li><a href="#">Searched on ...</a></li>#}
							</ul>{#<!--end .dropdown-menu -->#}
						</div>

						<button type="submit" id="headerSearchBtn" class="btn btn-icon-toggle ink-reaction"><i class="fa fa-search"></i></button>
					</form>
				</li>
			</ul>{#<!--end .header-nav-options -->#}
			<ul class="header-nav header-nav-profile">
				<li class="dropdown">
					<a href="javascript:void(0);" class="dropdown-toggle ink-reaction" data-toggle="dropdown" aria-expanded="false">
						{% if app.user.photo and file_exists('uploads/user/profile/thumbs/'~app.user.photo) %}
							{% set photo_placeholder = asset('uploads/user/profile/thumbs/'~app.user.photo) %}
						{% else %}
							{% set photo_placeholder = asset('build/images/profile-pic-default.png') %}
							{#{% set photo_placeholder = "" %}#}
						{% endif %}
						<img class="js-header-profile-img" src="{{ photo_placeholder }}" alt="">
						<span class="profile-info">
							<span class="js-pmo-username">{{ app.user.username }}</span>
							{% if is_granted('ROLE_SUPER_ADMIN') %}
								<small>Super admin</small>
							{% elseif is_granted('ROLE_OWNER') %}
								<small>Portal owner</small>
							{% elseif is_granted('ROLE_ADMIN') %}
								<small>Administrator</small>
							{% else %}
								<small>Standard user</small>
							{% endif %}
						</span>
					</a>
					<ul class="dropdown-menu animation-dock">
						<li><a href="{{ path('user_profile') }}">My profile</a></li>
						<li><a href="{{ path('asset_list', {'user' : app.user.id, 'bc' : app.user.username}) }}"><span class="badge style-danger pull-right">{{ app.user.assignedAssets|length }}</span>Assets</a></li>
						<li class="divider"></li>
						<li><a href="{{ path('security_logout') }}"><i class="fa fa-fw fa-power-off text-danger"></i> Logout</a></li>
					</ul>{#<!--end .dropdown-menu -->#}
				</li>{#<!--end .dropdown -->#}
			</ul>{#<!--end .header-nav-profile -->#}
		{% endif %}

		<ul class="header-nav header-nav-toggle">
			<li class="dropdown">
				<a data-toggle="dropdown" class="btn btn-icon-toggle btn-default" data-toggle="offcanvas" data-backdrop="false">
					<i class="fa fa-ellipsis-v"></i>
				</a>
				<ul class="dropdown-menu animation-dock dm-icon pull-right header-extra-actions">
					<li class="skin-switch hidden-xs">
						<span class="ss-skin bgm-lightblue" data-ma-action="change-skin" data-ma-skin="lightblue"></span>
						<span class="ss-skin bgm-bluegray" data-ma-action="change-skin" data-ma-skin="bluegray"></span>
						<span class="ss-skin bgm-cyan" data-ma-action="change-skin" data-ma-skin="cyan"></span>
						<span class="ss-skin bgm-teal" data-ma-action="change-skin" data-ma-skin="teal"></span>
						<span class="ss-skin bgm-orange" data-ma-action="change-skin" data-ma-skin="orange"></span>
						<span class="ss-skin bgm-blue" data-ma-action="change-skin" data-sma-kin="blue"></span>
					</li>
					<li>
						<a data-ma-action="recent-search-results" href="#"><i class="fa fa-search"></i> Recent search</a>
					</li>
					<li class="divider hidden-xs"></li>
					<li class="hidden-xs">
						<a data-ma-action="fullscreen" href="#"><i class="fa fa-desktop"></i> Toggle Fullscreen</a>
					</li>
					<li>
						<a data-ma-action="clear-localstorage" href="#"><i class="fa fa-trash"></i> Clear Local Storage</a>
					</li>
				</ul>
			</li>
		</ul>{#<!--end .header-nav-toggle -->#}
	</div>

</div>