<!-- BEGIN ASSIGN ITEM MODAL MARKUP -->
<div class="modal fade" id="assignItemModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="assignItemHeader" class="modal-title">Checking out</h4>
            </div>
            <form id="assignItemForm" class="form form-validate" role="form" data-toggle="validator" onSubmit="return false;" accept-charset="utf-8"> 
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <select class="form-control select2-users" name="assignee" id="assignee" data-placeholder="Select assigned user" onfocus="emptyElement('assignItemMessage')">
                                    <option value=""></option>
                                    {% for user in users %}
                                        <option value="{{ user.id }}">{{ user.username | trans }}</option>
                                    {% endfor %}
                                </select>
                                <label>Assigned to : <strong style="color:red;">*</strong></label>
                                <p class="help-block"></p>
                            </div>
                        </div> <!--end .col -->
                    </div><!--end .row -->
                    
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="input-daterange input-group" id="assignDateRange">
                                    <div class="input-group-content">
                                        <input type="text" id="checkout_date" class="form-control left-align" name="checkout_date" autocomplete="off" placeholder="check out date" required />
                                        <label>Date range* : </label>
                                    </div>
                                    <span class="input-group-addon">to</span>
                                    <div class="input-group-content">
                                        <input type="text" id="checkin_date" class="form-control left-align" name="checkin_date" autocomplete="off" placeholder="check in date" />
                                        <div class="form-control-line"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!--end .row -->
                        
                    <div class="row">
{#                        <div class="col-sm-6">#}
{#                            <div class="form-group">#}
{#                                <select class="form-control select2-address" name="loc_address" id="loc_address" data-placeholder="general location" onfocus="emptyElement('assignItemMessage')" required>#}
{#                                    <option value=""></option>#}
{#                                    {% for location in locations %}#}
{#                                        <option value="{{ location.id }}">{{ location.name | trans }}</option>#}
{#                                    {% endfor %}#}
{#                                </select>#}

{#                                <label>Assign location* : </label>#}
{#                                <p class="help-block"></p>#}
{#                            </div>#}
{#                        </div><!--end .col -->#}
                        <div class="col-sm-12">
                            <div class="form-group">
                                <select class="form-control select2-location" name="loc_specific" id="loc_specific" data-placeholder="specific location" onfocus="emptyElement('assignItemMessage')" required>
                                    <option value=""></option>
                                    {% for location in locations %}
                                        <option value="{{ location.id }}">{{ location.parent.name | trans }} ::: {{ location.name | trans }}</option>
                                    {% endfor %}
                                </select>
                                <label>To location : </label>
                                <p class="help-block"></p>
                            </div>
                        </div><!--end .col -->
                        
                    </div><!--end .row -->
                     
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea type="text" class="form-control autocomplete tags_class" id="checkout_notes" name="checkout_notes" rows="1" placeholder="..."></textarea>
                                <label for="add_notes">Additional checkout notes</label>
                                <p id="notesstatus" class="help-block"></p>
                            </div>
                        </div><!--end .col -->
                        
                    </div><!--end .row -->
                    
                    
                    <p class="text-center text-danger" id="assignItemMessage"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <span id="confirmBtn">
                        <button type="submit" class="btn btn-primary">Check out</button>
                    </span>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- END ASSIGN ITEM MODAL MARKUP -->
<!-- BEGIN ITEM CHECKIN MODAL MARKUP -->
<div class="modal fade" id="checkinItemModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="checkinItemHeader" class="modal-title">Checking in</h4>
            </div>
            <form id="checkinItemForm" class="form form-validate" role="form" data-toggle="validator" onSubmit="return false;" accept-charset="utf-8"> 
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control typeahead assignees_class" id="in_assignee" assignee="in_assignee" value="" data-rule-minlength="2" placeholder="..." disabled>
                                        <label for="in_assignee">Checking in from* : </label>
                                        <p class="help-block"></p>
                                    </div>
                                </div><!--end .col -->
                            </div><!--end .row -->
                            <div class="row">
                                <div class="col-md-12">
                                	<div class="form-group">
                                        <div class="input-group date" id="checkindatediv">
                                            <div class="input-group-content">
                                                <input type="text" class="form-control left-align" id="in_checkin_date" name="in_checkin_date" autocomplete="off" data-rule-date="true" placeholder="return date" required>
                                                <label for="in_checkin_date">Date of return * : <strong style="color:red;"></strong></label>
                                                <p id="pdatestatus" class="help-block"></p>
                                            </div>
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div><!--end .row -->
                            
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <select class="form-control select2-return-location" name="return_loc_address" id="return_loc_address" data-placeholder="specific location" onfocus="emptyElement('checkinItemMessage')" required>
                                            <option value=""></option>
                                            {% for location in locations %}
                                                <option value="{{ location.id }}">{{ location.parent.name | trans }} ::: {{ location.name | trans }}</option>
                                            {% endfor %}
                                        </select>
                                        <label for="return_loc_address">Returned to (Location)* : </label>
                                        <p class="help-block"></p>
                                    </div>
                                </div><!--end .col -->
                                
                            </div><!--end .row -->
                        </div><!--end .col -->
                        <div class="col-md-4">
                            <label class="control-label">Item status</label>
                            {% for status in statuses %}
                                <div class="radio radio-styled">
                                    <label class="radio-styled">
                                        <input type="radio" name="return_item_cond" value="{{ status.id }}" {{  asset.status.id == status.id ? ' checked ' : '' }}>
                                        <span>{{ status.name | trans }}</span>
                                    </label>
                                </div>
                            {% endfor %}
                            <div class="form-group" style="margin-bottom:0; padding-top:0">
                                <input type="text" class="form-control" id="cond_notes" name="cond_notes" value="{{ asset.conditionNotes }}" onfocus="emptyElement('checkinItemMessage')" placeholder="specify condition notes">
                                <label for="cond_notes"></label>
                                <p id="cond_notesstatus" class="help-block"></p>
                            </div><!--end .form-group -->
                        </div><!--end .col -->
                        
                    </div><!--end .row -->
                     
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea type="text" class="form-control autocomplete tags_class" id="return_notes" name="return_notes" rows="1" placeholder="..."></textarea>
                                <label for="return_notes">Additional checkin notes</label>
                                <p class="help-block"></p>
                            </div>
                        </div><!--end .col -->
                        
                    </div><!--end .row -->
                    
                    
                    <p style="text-align:center; color:red" id="checkinItemMessage"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <span id="confirmBtn">
                        <button type="submit" class="btn btn-primary">Check in</button>
                    </span>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- END ITEM CHECKIN MODAL MARKUP -->
<!-- BEGIN REVIEW ITEM MODAL MARKUP -->
<div class="modal fade" id="reviewItemModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="reviewItemHeader" class="modal-title">Review item</h4>
            </div>
            <form id="reviewItemForm" class="form form-validate" role="form" data-toggle="validator" onSubmit="return false;" accept-charset="utf-8"> 
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" id="reviewer" reviewee="reviewer" onfocus="emptyElement('reviewItemMessage')"  value="" placeholder="..." disabled>
                                <label for="reviewer">Reviewed by * : </label>
                                <p class="help-block"></p>
                            </div>
                        </div><!--end .col -->
                    </div><!--end .row -->
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-12">
                                	<div class="form-group">
                                        <div class="input-group date" id="reviewdatediv">
                                            <div class="input-group-content">
                                                <input type="text" class="form-control left-align" id="review_date" name="review_date" data-rule-date="true" placeholder="review date" required>
                                                <label for="review_date">Review date * : <strong style="color:red;"></strong></label>
                                                <p id="pdatestatus" class="help-block"></p>
                                            </div>
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div><!--end .row -->
                            
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" id="rev_loc_address" class="form-control typeahead loc_class" name="rev_loc_address" onfocus="emptyElement('reviewItemMessage')" placeholder="general location" required />
                                        <label for="rev_loc_address">Review location * : </label>
                                        <p class="help-block"></p>
                                    </div>
                                </div><!--end .col -->
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" id="rev_loc_specific" class="form-control typeahead loc_spec_class" name="rev_loc_specific" placeholder="specific location" />
                                        <label for="rev_loc_specific">At : </label>
                                        <p class="help-block"></p>
                                    </div>
                                </div><!--end .col -->
                                
                            </div><!--end .row -->
                           
                        </div><!--end .col -->
                        <div class="col-md-4">
                            <label class="control-label">Item condition</label>
                            <div class="radio radio-styled">
                                <label class="radio-styled radio-info">
                                    <input type="radio" name="rev_item_cond" value="good" checked>
                                    <span>Good</span>
                                </label>
                            </div>
                            <div class="radio radio-styled">
                                <label class="radio-styled radio-success">
                                    <input type="radio" name="rev_item_cond" value="fair">
                                    <span>Fair</span>
                                </label>
                            </div>
                            <div class="radio radio-styled">
                                <label class="radio-styled radio-warning">
                                    <input type="radio" name="rev_item_cond" value="damaged">
                                    <span>Damaged (Need repair)</span>
                                </label>
                            </div>
                            <div class="radio radio-styled">
                                <label class="radio-styled radio-danger">
                                    <input type="radio" name="rev_item_cond" value="broken">
                                    <span>Broken (Can't be fixed)</span>
                                </label>
                            </div>
                        </div><!--end .col -->
                        
                    </div><!--end .row -->
                    
                    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea type="text" class="form-control" id="review_notes" name="review_notes"  value="" rows="1" placeholder="..."></textarea>
                                <label for="review_notes">Additional notes</label>
                                <p class="help-block"></p>
                            </div>
                        </div><!--end .col -->
                        
                    </div><!--end .row -->
                    <p style="text-align:center; color:red" id="reviewItemMessage"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <span id="confirmBtn">
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </span>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- END REVIEW ITEM MODAL MARKUP -->
<!-- BEGIN ITEM DELETE MODAL MARKUP -->
<div id="deleteItemModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                 <h4 id="modalHeader" class="modal-title text-danger">Warning!</h4>

            </div>
            <form method="post" action="{{ path('asset_delete', {'id': asset.id}) }}">
                <div class="modal-body">
                    <p id="modalContent">Are you sure you want to delete <strong>this item</strong> and all it's records from the system?</p>
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ asset.id) }}">
                        <!--<button class="btn">Delete</button>-->

                    <p id="deleteItemMessage" style="color:red"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div> <!-- /.modal -->
<!-- END ITEM DELETE MODAL MARKUP -->

<script>
    //AJAX PROCESS TO CHECKOUT ITEM
    function checkout(itemid){
        var action = "checkout";
        // var assignee_Name = _("assignee").value;
        var assignee_Name = $('#assignee').val();
        var checkout_date = $("#checkout_date").val();
        var checkin_date = $("#checkin_date").val();
        //var loc_address = _("loc_address").value;
        var loc_id = $("#loc_specific").val();
        var add_notes = $("#checkout_notes").val();
        var statusMessage = $("#assignItemMessage");
        var confirmBtn = $("#assignItemBtn");

        if(itemid == ""){
            $("#assignItemMessage").html("Something is wrong, item identity has not been defined");
            return false;
        } else if(assignee_Name == "" || checkout_date == "" || loc_id == ""){
            $("#assignItemMessage").html("Assignee name, check-out date and location can not be blank");
            return false;
        } else {
            confirmBtn.disabled = true;
            confirmBtn.innerHTML = "Checking out...";
            var ajax = ajaxObj("POST", "{{ asset.id }}/checkout/");
            ajax.onreadystatechange = function() {
                if(ajax.status == 200) {
                    //var responseObj = ajax.responseText;
                    if(JSON.parse(ajax.responseText).status == "success"){
                        window.location.reload(true);

                        /*
                        _("assignItemLinkBox").innerHTML = '<span class="btn" style="color:#fff; padding:0" data-toggle="tooltip" data-placement="top" data-original-title="Check in item from '+assignee_Name+'"><a id="assignItemLink" class="open-checkinItemModal btn btn-icon-toggle ink-reaction" href="#checkinItemModal"  data-toggle="modal" data-itemid="'+itemid+'" data-itemcond="'+item_cond+'" data-assignee="'+assignee_Name+'"><i class="fa fa-reply"></i></a></span>'
                        _("assign_item_icon").innerHTML = '<span class="fa fa-fw fa-user fa-lg opacity-50"></span>';
                        _("assignee_box").innerHTML = '<span class="opacity-50">Assigned to : </span><span class="text-medium"><a href="#" title="Click to search for other items assigned to '+assignee_Name+'">'+assignee_Name+'</a> (Just now)</span>';
                        if (add_notes != "") {
                            var feed_notes = '<br /><strong>Notes :</strong> '+add_notes+'';
                        }
                        var currentFeeds = _("feedslist").innerHTML;
                        _("feedslist").innerHTML = '<li class="timeline-inverted class_b"><div class="timeline-circ circ-lg"><span class="fa fa-user"></span></div><div class="timeline-entry"><div class="card style-default"><div class="card-body small-padding"><span class="opacity-50">Just now &nbsp;&nbsp;by &nbsp;<span class="text-primary">You</span></span><br/><span class=""><strong>Item checked out to :</strong> '+assignee_Name+'. <br /><strong>Location :</strong> '+loc_specific+'. <br /> <strong>Item condition :</strong> '+item_cond+' '+feed_notes+'</span></div></div></div></li>'+currentFeeds;

                        confirmBtn.disabled = false;
                        confirmBtn.innerHTML = "Check out";
                        _("assignItemMessage").innerHTML = "";
                        $('#assignItemModal').modal('hide');
                         */

                    } else {
                        confirmBtn.disabled = false;
                        confirmBtn.innerHTML = "Check out";
                        $("#assignItemMessage").html("");
                        $("#assignItemMessage").html(JSON.parse(ajax.responseText).message);
                    }
                } else {
                    confirmBtn.disabled = false;
                    confirmBtn.innerHTML = "Check out";
                    $("#assignItemMessage").html("");
                    $("#assignItemMessage").html('Unknown network error, please retry!');
                }


            }
            ajax.send("action="+action+"&item_id="+itemid+"&assignee="+assignee_Name+"&checkout_date="+checkout_date+"&checkin_date="+checkin_date+"&loc_specific="+loc_id+"&checkout_notes="+add_notes);
        }
    }

    //AJAX PROCESS TO CHECKIN ITEM
    function checkin(itemid,assignee){
        var action = "checkin";
        var assignee_Name = assignee;
        var return_date = $("#in_checkin_date").val();
        var loc_address = $("#return_loc_address").val();
        var cond_notes = $("#cond_notes").val();
        var return_cond = document.getElementsByName('return_item_cond');
        var cond_value;
        for(var i = 0; i < return_cond.length; i++){
            if(return_cond[i].checked){
                cond_value = return_cond[i].value;
            }
        }
        var return_notes = $("#return_notes").val();
        var statusMessage = $("#checkinItemMessage");
        var confirmBtn = $("#checkinItemBtn");

        if(itemid == ""){
            $("#checkinItemMessage").html("Something is wrong, item identity has not been defined");
            return false;
            //} else if(assignee_Name == ""){
            //_("checkinItemMessage").innerHTML = "Assignee name can not be blank";
            //return false;
        } else if(return_date == "" || loc_address == ""){
            $("#checkinItemMessage").html("Assignee name, return date and location can not be blank");
            return false;
        } else {
            confirmBtn.disabled = true;
            confirmBtn.innerHTML = "Checking in...";
            var ajax = ajaxObj("POST", "{{ asset.id }}/checkin/");

            ajax.onreadystatechange = function() {

                //if(ajax.readyState == 4 && ajax.status == 200) {
                if(ajax.status == 200) {
                    //var responseObj = ajax.responseText;
                    if (JSON.parse(ajax.responseText).status == "success") {
                        location.reload(true);

                        /*
                        _("assignItemLinkBox").innerHTML = '<span class="btn" style="color:#fff; padding:0" data-toggle="tooltip" data-placement="top" data-original-title="Assign (Check-out)"><a id="assignItemLink" class="open-assignItemModal btn btn-icon-toggle ink-reaction" href="#assignItemModal"  data-toggle="modal" data-itemid="'+itemid+'" data-itemcond="'+cond_value+'"><i class="fa fa-user-plus"></i></a></span>'
                        _("assign_item_icon").innerHTML = '<span class="fa fa-fw fa-user-times fa-lg opacity-50"></span>';
                        _("assignee_box").innerHTML = '<span class="opacity-50">Not assigned </span>';
                        _("item_condtext").innerHTML = ''+cond_value+'';

                        if (return_notes != "") {
                            var feed_notes = '<br /><strong>Notes :</strong> '+return_notes+'';
                        }

                        var currentHTML = _("feedslist").innerHTML;
                        _("feedslist").innerHTML = '<li class="timeline-inverted class_b"><div class="timeline-circ circ-lg"><span class="fa fa-user"></span></div><div class="timeline-entry"><div class="card style-default"><div class="card-body small-padding"><span class="opacity-50">Just now &nbsp;&nbsp;by &nbsp;<span class="text-primary">You</span></span><br/><span class=""><strong>Item returned by :</strong> '+assignee_Name+' <br /><strong>Return date :</strong> '+return_date+'<br /><strong>Location :</strong> '+loc_address+'. <br /><strong>Item condition :</strong> '+cond_value+' '+feed_notes+'</span></div></div></div></li>'+currentHTML;

                        confirmBtn.disabled = false;
                        confirmBtn.innerHTML = "Check in";
                        _("checkinItemMessage").innerHTML = "";
                        $('#checkinItemModal').modal('hide');
                         */
                    } else {
                        confirmBtn.disabled = false;
                        confirmBtn.html("Check in");
                        $("#checkinItemMessage").html("");
                        $("#checkinItemMessage").html(JSON.parse(ajax.responseText).message);
                    }
                } else {
                    confirmBtn.disabled = false;
                    confirmBtn.innerHTML = "Check in";
                    $("#checkinItemMessage").html("");
                    $("#checkinItemMessage").html('Unknown network error, please retry!');
                }




            }
            ajax.send("action="+action+"&item_id="+itemid+"&assignee="+assignee_Name+"&return_date="+return_date+"&loc_address="+loc_address+"&return_cond="+cond_value+"&return_notes="+return_notes+"&cond_notes="+cond_notes);
        }
    }
</script>