<div class="menubar-fixed-panel">
    <div>
        <a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <div class="expanded">
        <a href="{{ path('homepage') }}">
            <span class="text-lg text-bold text-primary ">HGF Inventory</span>
        </a>
    </div>
</div>
<div class="menubar-scroll-panel">

    <!-- BEGIN MAIN MENU -->
    <ul id="main-menu" class="gui-controls">
        <!-- BEGIN DASHBOARD -->
        <li>
            <a href="{{ path('homepage') }}" class="active">
                <div class="gui-icon"><i class="md md-dashboard"></i></div>
                <span class="title">Dashboard</span>
            </a>
        </li><!--end /menu-li -->
        <!-- END DASHBOARD -->
        

        {% if is_granted('ROLE_ADMIN') %}
       	<!-- BEGIN ADD -->
        <li>
            <a href="{{ path('asset_new') }}">
                <div class="gui-icon"><i class="md md-my-library-add"></i></div>
                <span class="title">Add new</span>
            </a>
        </li><!--end /menu-li -->
        <!-- END ADD -->
        {% endif %}
        
        <!-- BEGIN About -->
        <li>
            <a href="{{ path('asset_list') }}" >
                <div class="gui-icon"><i class="md md-my-library-books"></i></div>
                <span class="title">Asset list</span>
            </a>
        </li><!--end /menu-li -->
        <!-- END About -->
        
        <!-- BEGIN Settings -->
         <li class="gui-folder">
            <a>
                <div class="gui-icon"><i class="md md-settings"></i></div>
                <span class="title">Settings</span>
            </a>
             <!--start submenu -->
            <ul>
                <li><a href="{{ path('category_index') }}"><span class="title">Categories</span></a></li>
                <li><a href="{{ path('department_index') }}"><span class="title">Departments</span></a></li>
                <li><a href="{{ path('supplier_index') }}"><span class="title">Suppliers</span></a></li>
                <li><a href="{{ path('location_index') }}"><span class="title">Locations</span></a></li>
                <li><a href="{{ path('user_index') }}"><span class="title">Users</span></a></li>
                <!--<li><a href="#"><span class="title">Users settings</span></a></li>
                <li><a href="#"><span class="title">System settings</span></a></li>-->
            </ul><!--end /submenu -->
        </li><!--end /menu-li -->
        <!-- END Settings -->
        
        
         <!-- BEGIN About -->
         <li>
            <a href="{{ path('about_page') }}" >
                <div class="gui-icon"><i class="md md-perm-phone-msg"></i></div>
                <span class="title">About</span>
            </a>
        </li><!--end /menu-li -->
        <!-- END About -->

    </ul><!--end .main-menu -->
    <!-- END MAIN MENU -->

    {% if is_granted('ROLE_USER') %}
        <ul id="logoutBtn" style=" position: absolute; left: 0; bottom: 12px; width: 100%;" class="gui-controls">
            {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                <li>
                    <a href="{{ path('homepage', {'_switch_user': '_exit'}) }}" class="active">
                        <div class="gui-icon"><i class="md md-security text-accent"></i></div>
                        <span class="title">Exit Impersonation</span>
                    </a>
                </li>
            {% endif %}
            <li>
                <a href="{{ path('security_logout') }}" class="active">
                    <div class="gui-icon"><i style="color:red" class="fa fa-fw fa-power-off"></i></div>
                    <span class="title">Logout</span>
                </a>
            </li>
        </ul>
    {% else %}

    {% endif %}
	<?php echo $logOutBtn; ?>
    <div class="menubar-foot-panel">
    	
        <small class="no-linebreak hidden-folded">
            <span class="opacity-75">Honeyguide &copy; {{ 'now'|date("Y") }}</span>
        </small>
    </div>
</div><!--end .menubar-scroll-panel-->