<!-- BEGIN META and FAVICON -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="Honeyguide, assets, inventory, store, system, tanzania, cbnrm, wma, cwma">
<meta name="description" content="This system was made to keep assets records for all Honeyguide assets.">
  
<!-- FAVICON -->
<link rel="shortcut icon" href="{{ asset('build/images/equipment-favicon.png') }}">
<!-- END  META and FAVICON -->
