<!-- BEGIN OFFCANVAS SEARCH -->
<div id="offcanvas-search" class="offcanvas-pane width-10" style="overflow-y: hidden">
    <div class="offcanvas-head">
        <header id="offSearchHeader" class="text-primary">No Search Results</header>

        <form id="offcanvasSearchForm" class="offcanvas-search hidden" role="search" onsubmit="return false;">
            <div class="form-group floating-label">
                <div class="input-group">
                    <div class="input-group-content">
                        <input type="text" class="form-control" id="offSearchQuery" name="offcanvasSearch">
                        <label for="offcanvasSearch">Refine search results ...</label>
                    </div>
                    <div class="input-group-btn">
                        <button class="btn btn-default btn-icon-toggle ink-reaction" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div><!--end .form-group -->
        </form>
        <div class="offcanvas-tools">
            <a class="btn btn-icon-toggle btn-default-light pull-right" data-dismiss="offcanvas">
                <i class="md md-close"></i>
            </a>
        </div>
    </div>
    <div class="offcanvas-body no-padding">
        <ul id="searchResultsBox" class="list ">
            <li class="tile divider-full-bleed">
                <div class="tile-content">
                    <div class="tile-text"><strong>...</strong></div>
                </div>
            </li>
        </ul>
    </div>
    <!--end .offcanvas-body -->
</div><!--end .offcanvas-pane -->
<!-- END OFFCANVAS SEARCH -->