<!-- BEGIN OFFCANVAS SEARCH -->
<div id="offcanvas-abstract" class="offcanvas-pane width-12" style="overflow-y: hidden">
    <div class="offcanvas-head">
        <header class="text-primary off-canvas-header">Offcanvas Heading</header>

        <form class="offcanvas-search hidden" role="search" onsubmit="return false;">
            <div class="form-group floating-label">
                <div class="input-group">
                    <div class="input-group-content">
                        <input type="text" class="form-control offSearchQuery" name="offcanvasSearch">
                        <label for="offcanvasSearch">Refine search results ...</label>
                    </div>
                    <div class="input-group-btn">
                        <button class="btn btn-default btn-icon-toggle ink-reaction" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div><!--end .form-group -->
        </form>
        <div class="offcanvas-tools">
            <a class="btn btn-icon-toggle btn-default-light pull-right" data-dismiss="offcanvas">
                <i class="md md-close"></i>
            </a>
        </div>
    </div>
    <div class="offcanvas-body no-padding">

    </div>
    <!--end .offcanvas-body -->
</div><!--end .offcanvas-pane -->
<!-- END OFFCANVAS SEARCH -->