{% extends 'base.html.twig' %}

{% block title %}Activity{% endblock %}

{% block body %}
    <h1>Activity</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ activity.id }}</td>
            </tr>
            <tr>
                <th>Action</th>
                <td>{{ activity.action }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ activity.description }}</td>
            </tr>
            <tr>
                <th>Entity</th>
                <td>{{ activity.entity }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ activity.createdAt ? activity.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ObjectId</th>
                <td>{{ activity.objectId }}</td>
            </tr>
            <tr>
                <th>ChangeSet</th>
                <td>{{ activity.changeSet ? activity.changeSet|join(', ') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('activity_index') }}">back to list</a>

    <a href="{{ path('activity_edit', {'id': activity.id}) }}">edit</a>

    {{ include('activity/_delete_form.html.twig') }}
{% endblock %}
