{% use 'bootstrap_3_layout.html.twig' %}

{#// How can I put the asterisk of my required field on my label? (Symfony form)#}

{#{% block form_label %}#}
{#    {{ parent() }}#}

{#    {% if required %}#}
{#        {% set label = label ~ ' *' %}#}
{#        <span class="required text-danger" title="This field is required">*</span>#}
{#    {% endif %}#}
{#{% endblock %}#}

{%- block form_label -%}
    {% if label is not same as(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {% set label_append_asterik = '' %}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
            {% set label_append_asterik = '<span class="required text-danger" title="This field is required"> *</span>' %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <{{ element|default('label') }}{% if label_attr %}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}>
        {%- if translation_domain is same as(false) -%}
            {{- label -}} {{  label_append_asterik|raw }}
        {%- else -%}
            {{- label|trans(label_translation_parameters, translation_domain) -}} {{  label_append_asterik|raw }}
        {%- endif -%}
        </{{ element|default('label') }}>
    {%- endif -%}
{%- endblock form_label -%}

{#Extend the form structure by puting label after input#}

{% block form_row -%}
    {% set widget_attr = {} %}
    {% if help is not empty %}
        {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} %}
    {% endif %}
    <div{% with {attr: row_attr|merge({class: (row_attr.class|default('') ~ ' form-group' ~ ((not compound or force_error|default(false)) and not valid ? ' has-error'))|trim})} %}{{ block('attributes') }}{% endwith %}>
        {{ form_widget(form, widget_attr) }}
        {{ form_label(form) }}
        {{ form_help(form) }}
        {{ form_errors(form) }}
    </div>
{% endblock form_row %}