
@import "../libs/DataTables/jquery.dataTables.css";
@import "../libs/DataTables/extensions/dataTables.colVis.css";
@import "../libs/DataTables/extensions/dataTables.tableTools.css";
@import "../libs/DataTables/extensions/responsive.dataTables.min.css";


div.ColVis_collectionBackground {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
    z-index: 1100;
    opacity: 0.7;
}