/*	Author: Sam Shaba , s4mw3l@gmail.com	*/
/*	Date created: August 08, 2017			*/
/*	Last edited on: August 08, 2017			*/
/*	Name: Custom CSS document				*/
/*	--------------------------------------	*/

/*
Custom margin and padding classes
*/
    .m-b-0 {
        margin-bottom: 0;
    }
    .m-r-10 {
        margin-right: 10px!important;
    }
    .m-b-15 {
        margin-bottom: 15px;
    }
    .m-t-30 {
        margin-top: 30px!important;
    }
    .no-wrap {
        white-space: nowrap;
    }
    .text-align-center {
        text-align: center;
    }

/*Sitewide Bootstrap customization*/
.form-group .form-control ~ label {
    top : -15px;
}

.form-group span.help-block {
    bottom: -35px;
}


/*Header customization*/
    .headerbar .fa-lock {
        color: #252727;
    }
    .headerbar .fa-power-off {
        color: #f44336 !important;
    }
    .headerbar .header-extra-actions .fa-desktop {
        color: #252727;
    }
    .headerbar  .header-extra-actions .fa-trash {
        color: #ff0000;
    }
    .headerbar .header-extra-actions .fa-search {
        color: #252727;
    }

    .headerbar .js-search-suggestions.dropdown {
        top: 35px;
    }
    .headerbar .js-search-suggestions .dropdown-menu {
        width: 220px;
    }
    .headerbar .js-search-suggestions .dropdown-menu > li {
        color: #252727;
    }
    .headerbar .js-search-suggestions .dropdown-menu > li i {
        color: #252727;
    }

    .header-nav-toggle .dropdown-menu i {
        line-height: 100%;
        vertical-align: center;
        text-align: left;
        width: 28px;
    }
    .header-nav .open > a, .header-nav .open > a:hover, .header-nav .open > a:focus {
        background-color: rgba(12, 12, 12, 0.07);
        border-color: rgba(12, 12, 12, 0.07);
    }

    .flash-msg {
        position: relative;
        top: 64px;
        width: 100%;
        z-index: 1000;
        margin-bottom: 0;
    }

/* Customise max content section size */
    @media (max-width: 768px) {
        #content {
            padding-top: 0;
        }
    }

/* Offcanvas search **start */
    #offcanvas-search .offcanvas-head, #offcanvas-abstract .offcanvas-head  {
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.07);
    }
    #offcanvas-search .offcanvas-head header, #offcanvas-abstract .offcanvas-head header  {
        margin-bottom: 15px;
    }

    #offcanvasSearchForm .floating-label .form-control:focus ~ label,
    #offcanvasSearchForm .floating-label .form-control.dirty ~ label,
    #offcanvas-abstract form .floating-label .form-control:focus ~ label,
    #offcanvas-abstract form .floating-label .form-control.dirty ~ label
    {
      top: -10px;
      font-size: 12px !important;
    }

    #offcanvasSearchForm .floating-label .form-control ~ label,
    #offcanvas-abstract form .floating-label .form-control ~ label {
        top: 5px;
        font-size: 16px;
    }

    ul#searchResultsBox.list li:last-child,
    #offcanvas-abstract ul.offcanvas-list li:last-child
    {
        margin-bottom: 100px;
    }
/* Offcanvas search **end */


/* DASHBOARD page **start */
div.card-actionbar-row.home-card-4 {
    height: 49px;
}
div.card-actionbar-row.home-card-4{
    -webkit-box-shadow: 0px -3px 3px rgba(50, 50, 50, 0.1);
    -moz-box-shadow: 0px -3px 3px rgba(50, 50, 50, 0.1);
    box-shadow: 0px -3px 3px rgba(50, 50, 50, 0.1);
}

.addNewAsset_Btn {
    position: fixed;
    right: 25px;
    top: 80px;
    z-index: 1000;
}


/* DASHBOARD page **end */


/* ASSET INDEX or LIST page **start */
    .js-asset-table-row {
        cursor: pointer;
    }
/* ASSET INDEX or LIST page **end */



/* ASSET SHOW page */
    #new_item_card, #show_item_card {
        padding-bottom: 0px;
        background: #d6d6d6;
        /*background: beige;*/
    }

    #show_item_card label {
        opacity: 0.5;
        margin-bottom: 0;
        vertical-align: top;
    }
    #show_item_card span {
        display: inline-block;
    }


    /* white square cards for forms */
    .sq-m {
        /*padding: 10px;*/
        background: white;
        border: 1px solid rgba(12, 12, 12, 0.12);
        margin: 0 0px 10px;
        border-radius: 10px;
    }

    /*Bottom borders for each sq-cell container col */
    #show_item_card .col-md-12, #show_item_card .col-md-6 {
        border-bottom: 1px solid #d6d6d6;
    }
    /*Removing Bottom borders for each sq-cell container col that doesn't need them */
    #show_item_card .sq-col-nobdr-b, #show_item_card .sq-col-bdr-b-md {
        border-bottom: none;
    }

    /*Right borders for each sq-cell container col-md-6 */
    #show_item_card .col-md-6 {
        border-right: 1px solid #d6d6d6;
    }
    /*Removing Right borders for each sq-cell container col that doesn't need them */
    #show_item_card .sq-col-nobdr-r {
        border-right: none;
    }

    .sq-cell {
        margin: 7px;
    }

    /*CSS only applicable when screen size smaller than lg*/
    @media (max-width: 992px){
        .sq-m {
            margin: 0 5px 10px;
        }

        /*Removing Bottom borders for each sq-cell container col that doesn't need them at a large screen i.e. >992px*/
        #show_item_card .sq-col-nobdr-b-lg {
            border-bottom: none;
        }
        /*Adding bottom border to sq-cell container col that needs them only at a smaller screen i.e. <992px  */
        #show_item_card .sq-col-bdr-b-md {
            border-bottom: 1px solid #d6d6d6;
        }
        /*Removing Right borders for each sq-cell container col that doesn't need them at a large screen i.e. >992px*/
        #show_item_card .sq-col-bdr-r-lg {
            border-right: none;
        }
    }

    /* -end- white square cards for forms */

    .pr-0 {
        padding-right: 0;
    }
    .pl-0 {
        padding-left: 0;
    }
    .pt-0 {
        padding-top: 0;
    }
    .pb-0 {
        padding-bottom: 0;
    }

    .item-ico {
        width: 30px;
        text-align: left;
    }

    /*.dl-horizontal.dl-icon dt {*/
    /*    width: 30px;*/
    /*    text-align: left;*/
    /*    padding-top: 5px;*/
    /*}*/
    /*.dl-horizontal dt {*/
    /*    float: left;*/
    /*    !*width: 160px;*/
    /*	text-align: right;*!*/
    /*    clear: left;*/
    /*    overflow: hidden;*/
    /*    text-overflow: ellipsis;*/
    /*    white-space: nowrap;*/
    /*}*/
    /*.dl-horizontal.dl-icon dd {*/
    /*    margin-left: 35px;*/
    /*}*/

    /* start - item feeds page section on asset show */
    #item-history {
        margin : 10px 0 10px 0;
    }
    #item-history button {
        width: 80%;
    }
    #item-history label {
        opacity: 0.8;
    }
    li:nth-child(even) .timeline-entry {
        left: 100%;
    }

    .timeline-inverted .timeline-entry {
        left: 100%;
    }
    li:nth-child(even) .timeline-entry .card {
        margin-left: 30px;
        margin-bottom: 15px;
        margin-right: 0;
    }

    li:nth-child(even) .timeline-entry .card:after {
        right: auto;
        left: -9px;
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }


    /*label.required:before {*/
    /*    content: "* " !important;*/
    /*}*/

    .category-card, .subcategory-card {
        cursor: pointer;
    }

    .form-errors-div {
        padding: 10px 0;
    }

    .asset-photo-show {
        width: 100%;
        overflow: hidden;
        border-radius: 10px;
    }

    .linked-assets-card .card-loader {
        border-radius: 10px;
    }

    .relative-positioned {
        position: relative;
    }

    #offcanvas-abstract .tile .tile-content .tile-button {
        float: right;
        position: absolute;
        top: 17px;
        right: 10px;
    }



/* ASSET SHOW page **end */

/*--
	Asset edit page ** start
--*/
/* $-BACKEND image uploader, image gallery and thumbnails-$  */
    .img-container {
        padding: 10px;
        background-color: #d1d1d1;
        border-radius: 10px !important;
    }
    .item-photo {
        height: 250px;
        background: url(http://) no-repeat center center;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
        cursor:pointer;
        border-radius: 10px;
    }
    .img-container .rem
    {
        position:absolute;
        top:2px;
        right:2px;
        width:30px;
        height:30px;
        text-align:center;
        line-height:30px;
        background-color: rgba(114, 114, 114, 0.37);
        cursor:pointer;
        color: red;
        border-radius: 10px;
    }
    .imagePreview {
        width: 100%;
        height: 180px;
        background-position: center center;
        background:url(../img/noimage2.jpg);
        background-color:#fff;
        background-size: cover;
        background-repeat:no-repeat;
        display: inline-block;
        box-shadow:0px -3px 6px 2px rgba(0,0,0,0.2);
    }

    .imgUp .btn-primary
    {
        display:block;
        border-radius:0px;
        box-shadow:0px 4px 6px 2px rgba(0,0,0,0.2);
        margin-top:-5px;
    }
    .imgUp
    {
        margin-bottom:15px;
        width:200px;
        max-width: 200px;
        min-width: 200px;
    }
    .imgUp p {
        height: 22px;
        margin-bottom: 10px;
    }
    .imgUp .del
    {
        position:absolute;
        top:0px;
        right:15px;
        width:30px;
        height:30px;
        text-align:center;
        line-height:30px;
        background-color:rgba(255,255,255,0.6);
        cursor:pointer;
    }
    .imgUp .rem
    {
        position:absolute;
        top:32px;
        right:15px;
        width:30px;
        height:30px;
        text-align:center;
        line-height:30px;
        background-color:rgba(255,255,255,0.6);
        cursor:pointer;
        color: red;
    }
    .imgUp .rem.hidden {
        display: none;
    }
    .imgAdd
    {
        width:30px;
        height:30px;
        border-radius:50%;
        background-color:#4bd7ef;
        color:#fff;
        box-shadow:0px 0px 2px 1px rgba(0,0,0,0.2);
        text-align:center;
        line-height:30px;
        margin-top:0px;
        margin-left: 15px;
        cursor:pointer;
        font-size:15px;
    }

    div#asset_card .card-head .tools .js-asset-delete-form {
        display: inline;
        margin: 0;
    }


/*NEW ASSET page*/

/*Materialize the select2 css*/
/*select:focus {*/
/*    border: none !important;*/
/*}*/

.select2-selection:focus {
    outline: none;
}

.select2 .selection .select2-selection--single, .select2-container--default .select2-search--dropdown .select2-search__field {
    border-width: 0 0 1px 0 !important;
    border-radius: 0 !important;
    /*height: 2.05rem;*/
    height: 37px;
    font-size: 16px;
    /*padding-top: 10px;*/
}

.select2-selection__rendered {
    padding-top: 5px;
}
.select2-selection__arrow {
    margin-top: 5px;
}

#new_item_card .form-control ~ label, #new_item_card .custom-label {
    /*margin-top: 5px;*/
    top: 5px;
}

.cursor-pointer {
    cursor: pointer;
}

/*--
	$-User Profile page-$ start css
--*/

    #profile-main {
        max-width: 1170px;
        min-height: 500px;
        position: relative;
        margin-right: auto;
        margin-left: auto;
    }
    .profile-main-content {
        min-height: 500px;
        margin-bottom: 0;
    }
    @media (min-width: 1200px) {
        #profile-main .pm-overview {
            width: 300px;
        }
    }
    @media (min-width: 768px) and (max-width: 1200px) {
        #profile-main .pm-overview {
            width: 250px;
        }
    }
    @media (min-width: 768px) {
        #profile-main .pm-overview {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            border-right: 2px solid #eee;
        }
    }
    @media (max-width: 767px) {
        #profile-main .pm-overview {
            width: 100%;
            background: #333;
            text-align: center;
        }
    }
    @media (min-width: 1200px) {
        #profile-main .pm-body {
            padding-left: 300px;
        }
    }
    @media (min-width: 768px) and (max-width: 1200px) {
        #profile-main .pm-body {
            padding-left: 250px;
        }
    }
    @media (max-width: 767px) {
        #profile-main .pm-body {
            padding-left: 0;
        }
    }
    #profile-main .pmo-pic {
        position: relative;
        margin: 20px 20px 0 20px;
    }
    @media (min-width: 768px) {
        #profile-main .pmo-pic img {
            width: 100%;
            border-radius: 2px 2px 0 0;
        }
    }
    @media (max-width: 767px) {
        #profile-main .pmo-pic img {
            width: 180px;
            display: inline-block;
            height: 180px;
            border-radius: 50%;
            border: 4px solid #fff;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
        }
    }
    #profile-main .pm-overview .pmo-stat {
        border-radius: 0 0 2px 2px;
        color: #fff;
        text-align: center;
        padding: 5px 5px 0;
        margin: 0 20px;
    }
    #profile-main .pm-overview .rem-photo
    {
        position:absolute;
        opacity: 0;
        right:2px;
        top:2px;
        width:30px;
        height:30px;
        text-align:center;
        line-height:30px;
        background-color: rgba(114, 114, 114, 0.37);
        cursor:pointer;
        color: red;
        border-radius: 10px;
    }
    @media (min-width: 768px) {
        #profile-main .pm-overview .pmo-stat {
            background: #FFC107;
            padding-bottom: 15px;
        }
    }
    #profile-main .pmo-pic .pmop-edit {
        position: absolute;
        bottom: 0;
        left: 0;
        color: #fff;
        background: rgba(0, 0, 0, 0.38);
        text-align: center;
        padding: 10px 10px 11px;
    }
    #profile-main .pmo-pic .pmop-edit:hover {
        background: rgba(0, 0, 0, 0.8);
        text-decoration: none;
    }
    #profile-main .pmo-pic .pmop-edit i {
        font-size: 18px;
        vertical-align: middle;
        margin-top: -3px;
    }
    @media (min-width: 768px) {
        #profile-main .pmo-pic .pmop-edit {
            width: 100%;
            opacity: 0;
            filter: alpha(opacity=0);
        }
        #profile-main .pmo-pic .pmop-edit i {
            margin-right: 4px;
        }
    }
    #profile-main .pmo-pic:hover .pmop-edit, #profile-main .pmo-pic:hover .rem-photo {
        opacity: 1;
        filter: alpha(opacity=100);
    }
    #profile-main .pmo-pic .pmop-message {
        position: absolute;
        bottom: 27px;
        left: 50%;
        margin-left: -25px;
    }
    #profile-main .pmo-pic .pmop-message .dropdown-menu {
        padding: 5px 0 55px;
        left: -90px;
        width: 228px;
        height: 150px;
        top: -74px;
        -webkit-transform-origin: center;
        -moz-transform-origin: center;
        -ms-transform-origin: center;
        transform-origin: center;
    }
    #profile-main .pmo-pic .pmop-message .dropdown-menu textarea {
        width: 100%;
        height: 95px;
        border: 0;
        resize: none;
        padding: 10px 19px;
    }
    #profile-main .pmo-pic .pmop-message .dropdown-menu button {
        bottom: 5px;
        left: 88px;
    }
    #profile-main .pmb-block {
        margin-bottom: 20px;
    }
    @media (min-width: 1200px) {
        #profile-main .pmb-block {
            padding: 40px 42px 0;
        }
    }
    @media (max-width: 1199px) {
        #profile-main .pmb-block {
            padding: 30px 20px 0;
        }
    }
    #profile-main .pmb-block:last-child {
        margin-bottom: 50px;
    }
    #profile-main .pmb-block .pmbb-header {
        margin-bottom: 25px;
        position: relative;
    }
    #profile-main .pmb-block .pmbb-header .actions {
        position: absolute;
        top: -2px;
        right: 0;
    }
    #profile-main .pmb-block .pmbb-header h2 {
        margin: 0;
        font-weight: 100;
        font-size: 20px;
    }
    #profile-main .pmb-block .pmbb-edit {
        position: relative;
        z-index: 1;
        display: none;
    }
    .pmbb-edit-actions {
        text-align: right;
        clear: both;
        margin-bottom: 30px;
    }
    #profile-main .pmb-block .pmbb-edit,
    #profile-main .pmb-block .pmbb-view {
        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
        -webkit-animation-duration: 1000ms;
        animation-duration: 1000ms;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
    #profile-main .pmb-block.toggled .pmbb-edit {
        display: block;
    }
    #profile-main .pmb-block.toggled .pmbb-view {
        display: none;
    }
    #profile-main .pmo-block {
        padding: 25px;
    }
    #profile-main .pmo-block > h2 {
        font-size: 16px;
        margin: 0 0 15px;
    }
    #profile-main .pmo-items .pmob-body {
        padding: 0 10px;
    }
    #profile-main .pmo-items a {
        display: block;
        padding: 4px;
    }
    #profile-main .pmo-items a img {
        width: 100%;
    }

    .pmo-contact ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .pmo-contact ul li {
        position: relative;
        padding: 5px 0 5px 0;
    }
    .pmo-contact ul li i {
        font-size: 13px;
        line-height: 100%;
        width: 18px;
        text-align: center;
        margin-right: 15px;
    }

    .pmo-contact ul li address {
        display: inline-flex;
        margin-bottom: 0;
    }
    .pmo-map {
        margin: 20px -21px -18px;
        display: block;
    }
    .pmo-map img {
        width: 100%;
    }

    #profile-main .user-info-edit-errors {
        text-align: center;
    }

    div.fg-line.form-group {
        padding-top: 0;
    }

    form.email-change .has-error .help-block, form.password-change .has-error .help-block {
        bottom: -35px;
    }

/*--
	$-User Profile page-$ end css
--*/

/*--
	$-Category settings page-$ start css
--*/
.category-card .card-body {
    padding: 15px 0;
}
.categories-list.panel-group .card .collapsed .fa-angle-down {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.categories-list.panel-group .card .fa-plus {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

.categories-list ul.subcategories_list > li:before {
    content: "";
    left: 42px;
    top: -26px;
    bottom: 26px;
    position: absolute;
    display: block;
    width: 1px;
    border-left: 1px dashed rgba(12, 12, 12, 0.3);
    z-index: 1;
}
.categories-list ul.subcategories_list > li a.tile-content {
    padding-left: 70px;
}
.categories-list ul.subcategories_list > li a.tile-content:before {
    content: "";
    left: 42px;
    top: 26px;
    position: absolute;
    display: block;
    width: 21px;
    border-bottom: 1px dashed rgba(12, 12, 12, 0.3);
    z-index: 1;
}

.categories-list ul.subcategories_list > li.tile .tile-content div.tile-buttons {
    position: absolute;
    top: 8px;
    right: 20px;
}

.categories-list ul.subcategories_list > li.tile.no-list-item {
    padding-left: 65px;
}


/*.categories-list ul.subcategories_list > li.tile .tile-content div.tile-buttons button {*/
/*    display: none;*/
/*}*/

/*.categories-list ul.subcategories_list > li a:hover div.tile-buttons button {*/
/*    display: block;*/
/*}*/

    /*--
        $-Category settings page-$ end css
    --*/


/* NANO scrollbar custom CSS **start */
    .nano > .nano-pane {
        width: 5px;
    }
/* NANO scrollbar custom CSS **end */

/* mg-accordion custom CSS **start */

.mg-accordion, .mg-accordion ul{/*added this to fix the material design 16px padding left CSS on all ul*/
    margin-left: 16px;
}
.mg-accordion, .mg-accordion ul{
    list-style-type: none;
    margin-left: 16px;
}
.mg-accordion .submenu{
    display: none;
}
.my-menu, .mg-flat{
    width: 300px;
}
.justify-items-evenly{
    justify-content: space-evenly;
}
.mg-flat li.dropdown{
    margin-left: -40px
}
.mg-flat .submenu li{
    margin-left: -20px;
}
.mg-flat span.toggler{
    float: right;
}
.mg-flat a{
    text-decoration: none;
    display: block;
}
.mg-flat li.dropdown a{
    padding: 10px 5px;
    border:1px solid #ccc;
    background: #eee
}
a.openItem{
    background: #0056b3!important;
    color: #fff;
}
.openItem span{
    transform: rotate(180deg);
    color: #fff;
}
.toggler{
    transition: all 1s;
}
/* mg-accordion custom CSS **end */





