@import "../libs/bootstrap/bootstrap.css";
@import "main.css";
/*@import "~font-awesome";*/
/*@import "material-design/material-design-iconic-font.css";*/
/*@import "custom.css";*/

form.login-form .form-errors-div {
    padding: 10px 0;
}

.form-group span.help-block {
    bottom: -5px;
    position: relative;
}

.has-error .form-control ~ label:after {
    background-color: transparent;
}

.request-pass-form-container .form-group .form-control ~ label {
    top : -15px;
}

@media (min-height: 700px) {
    section.section-account .img-backdrop, section.section-account .spacer {
        height: 200px;
    }
}
