{% extends 'base.html.twig' %}

{% block title %}Test{% endblock %}

{% block body %}
    <h1>Test</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ test.id }}</td>
            </tr>
            <tr>
                <th>Property1</th>
                <td>{{ test.property1 }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('test_index') }}">back to list</a>

    <a href="{{ path('test_edit', {'id': test.id}) }}">edit</a>

    {{ include('test/_delete_form.html.twig') }}
{% endblock %}
