<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block page_title %}Assets{% endblock %} | {{ system_name }}</title>

    {# BEGIN META and FAVICON #}
    {{ include('includes/meta.html.twig') }}
    {# END  META and FAVICON #}

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block common_header %}
        {# HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries #}
        {#[if lt IE 9]>
        <script type="text/javascript" src="{{ asset('libs/utils/html5shiv.js') }}')}}"></script>
        <script type="text/javascript" src="{{ asset('libs/utils/respond.min.js')}}"></script>
        <![endif]#}
    {% endblock %}
</head>
<body class="menubar-hoverable header-fixed menubar-pin">

{# BEGIN HEADER#}
<header id="header" data-ma-theme=blue>
    {{ include('includes/header.html.twig') }}
</header>
{# END HEADER#}

{# BEGIN BASE#}
<div id="base">
    {% for msg in app.session.flashbag.get('success') %}
       <div class="alert alert-success flash-msg">
           {{ msg }}
       </div>
    {% endfor %}
    {% for msg in app.session.flashbag.get('error') %}
        <div class="alert alert-danger flash-msg">
            {{ msg }}
        </div>
    {% endfor %}
    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
        <div class="alert alert-warning flash-msg">
            <i class="md md-security text-accent"></i> <strong>Warning!</strong>
            You are currently impersonating {{ app.user.username }}.
            <a href="{{ path('homepage', {'_switch_user': '_exit'}) }}" class="text-accent pull-right">Exit Impersonation</a>
        </div>
    {% endif %}

    {# BEGIN OFFCANVAS LEFT $removing it will break offcanvas right #}
    <div class="offcanvas">
    </div>{#end .offcanvas#}
    {# END OFFCANVAS LEFT #}

    {# BEGIN CONTENT#}
    <div id="content">
        <section>
            <div class="section-header">
                <ol class="breadcrumb">
                    <li><a href="{{ path('homepage') }}"><i class="md- md-home"></i></a></li>
                    {% block breadcrumb %}{% endblock %}
                </ol>
            </div>
            <div class="section-body">
                {% block body %}{% endblock %}
            </div>{#end main .section-body #}
        </section>
    </div>{#end #content#}

    {# END CONTENT #}

    {# BEGIN MENUBAR#}
    <div id="menubar">
        {{ include('includes/menubar.html.twig') }}
    </div>{#end #menubar#}
    {# END MENUBAR #}

    {# BEGIN OFFCANVAS RIGHT #}
    <div class="offcanvas">
        {{ include('includes/offcanvas_search.html.twig') }}
        {{ include('includes/offcanvas_abstract.html.twig') }}
{#        {{ include('includes/offcanvas_chat.html.twig') }}#}
    </div>{#end .offcanvas#}
    {# END OFFCANVAS RIGHT #}

</div>{#end #base#}
{# END BASE #}

{%  block javascripts %}
    {{ encore_entry_script_tags('app') }}

    <script src="{{ asset('libs/spin.js/spin.min.js') }}"></script>
    <script src="{{ asset('libs/toastr/toastr.js') }}"></script>
    <script>
        var noImage2path = "{{ asset('build/images/noimage2.jpg') }}";
        var noImagepath = "url({{ asset('build/images/noimage.jpg') }})";
        var defaultProfileImg = "{{ asset('build/images/profile-pic-default.png') }}";
    </script>

{%  endblock %}

</body>
</html>
