{% extends 'base.html.twig' %}

{% block page_title %}Dashboard{% endblock %}

{% block body %}

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('asset_new') }}" type="button" class="addNewAsset_Btn btn ink-reaction btn-floating-action btn-primary active float-right" data-toggle="tooltip" data-placement="top" data-trigger="hover" data-original-title="Add new item"><i class="fa fa-plus"></i></a>
    {% endif %}
    <div class="row">
        <div class="col-md-4">
            <div class="card card-underline">
                <div class="card-head">
                    <header>Recent Assets</header>
                    <div class="tools">
                        <div class="btn-group">
                            <a class="btn btn-icon-toggle btn-refresh"><i class="md md-refresh"></i></a>
                            <a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>
                            <a class="btn btn-icon-toggle btn-close"><i class="md md-close"></i></a>
                        </div>

                    </div>
                </div>{#end .card-head #}
                <div class="nano has-scrollbar" style="height: 360px;">
                    <div class="nano-content" tabindex="0" style="right: -17px;">
                        <div class="card-body no-padding height-9 scroll" style="height: auto;">
                            <ul class="list divider-full-bleed">
                                {% for asset in recentAssets %}
                                    <li class="tile">
                                        <a class="tile-content ink-reaction" href="{{ path('asset_show', {'id' : asset.id}) }}" target="_blank">
                                            <div class="tile-icon">
                                                {% if asset.photo is not empty and file_exists('uploads/asset/thumbs/'~asset.photo) %}
                                                    <img src="{{ asset('uploads/asset/thumbs/'~asset.photo) }}" alt="thumbnail">
                                                {% else %}
                                                    <img src="{{ asset('build/images/noimage2.jpg') }}" alt="thumbnail">
                                                {% endif %}
                                            </div>
                                            <div class="tile-text">
                                                {{ asset.name }}
                                                <small>{{ 'Barcode : ' ~ asset.barcode }} {{ ' | Sn : ' ~ asset.sn }}</small>
                                            </div>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>{#end .card-body #}
                    </div>
                </div>
                <div class="card-actionbar-row home-card-4">
                    <a href="{{ path('asset_list') }}" class="btn btn-flat btn-primary ink-reaction">View all <i class="fa fa-arrow-right"></i></a>
                </div>
            </div>{#end .card #}
        </div>{#end .col #}

        <div class="col-md-4">
            <div class="card card-underline">
                <div class="card-head">
                    <header>Asset Categories</header>
                    <div class="tools">
                        <div class="btn-group">
                            <a class="btn btn-icon-toggle btn-refresh"><i class="md md-refresh"></i></a>
                            <a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>
                            <a class="btn btn-icon-toggle btn-close"><i class="md md-close"></i></a>
                        </div>

                    </div>
                </div>{#end .card-head #}
                <div class="nano has-scrollbar" style="height: 360px;">
                    <div class="nano-content" tabindex="0" style="right: -17px;">
                        <div class="card-body no-padding height-9 scroll" style="height: auto;">
                            <ul class="list divider-full-bleed">
                                {% for subcategory in categories %}
                                    <li class="tile">
                                        <a class="tile-content ink-reaction" href="{{ path('asset_list', {'category' : subcategory.id , 'bc' : subcategory.parent.name ~ '::' ~ subcategory.name }) }}">
                                            <div class="tile-icon">
                                                <img src="{{ asset('build/images/default.jpg') }}" alt="">
                                            </div>
                                            <div class="tile-text">
                                                {{ subcategory.parent.name }} :: {{ subcategory.name }}
                                                <small>{{ subcategory.assets|length}} {{ subcategory.assets|length == 1 ? 'asset' : 'assets' }}</small>
                                            </div>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>{#end .card-body #}
                    </div>
                </div>
                <div class="card-actionbar-row home-card-4">
                </div>
            </div>{#end .card #}
        </div>{#end .col #}

        <div class="col-md-4">
            <div class="card card-underline">
                <div class="card-head">
                    <header>Asset Locations</header>
                    <div class="tools">
                        <div class="btn-group">
                            <a class="btn btn-icon-toggle btn-refresh"><i class="md md-refresh"></i></a>
                            <a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>
                            <a class="btn btn-icon-toggle btn-close"><i class="md md-close"></i></a>
                        </div>

                    </div>
                </div>{#end .card-head #}
                <div class="nano has-scrollbar" style="height: 360px;">
                    <div class="nano-content" tabindex="0" style="right: -17px;">
                        <div class="card-body no-padding height-9 scroll" style="height: auto;">
                            <ul class="list divider-full-bleed">
                                {% for location in locations %}
                                    <li class="tile">
                                        <a class="tile-content ink-reaction" href="{{ path('asset_list', {'location' : location.id, 'bc' : location.parent.name ~ '::' ~ location.name}) }}">
                                            <div class="tile-icon">
                                                <img src="{{ asset('build/images/default.jpg') }}" alt="">
                                            </div>
                                            <div class="tile-text">
                                                {{ location.parent.name }} :: {{ location.name }}
                                                <small>{{ location.assets|length}} {{ location.assets|length == 1 ? 'asset' : 'assets' }}</small>
                                            </div>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>{#end .card-body #}
                    </div>
                </div>
                <div class="card-actionbar-row home-card-4">
                </div>
            </div>{#end .card #}
        </div>{#end .col #}

        <div class="col-md-6">
            <div class="card card-underline">
                <div class="card-head">
                    <header>Users</header>
                    <div class="tools">
                        <div class="btn-group">
                            <a class="btn btn-icon-toggle btn-refresh"><i class="md md-refresh"></i></a>
                            <a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>
                            <a class="btn btn-icon-toggle btn-close"><i class="md md-close"></i></a>
                        </div>

                    </div>
                </div>{#end .card-head #}
                <div class="nano has-scrollbar" style="height: 360px;">
                    <div class="nano-content" tabindex="0" style="right: -17px;">
                        <div class="card-body no-padding height-9 scroll" style="height: auto;">
                            <ul class="list divider-full-bleed">
                                {% for user in users %}
                                    <li class="tile">
                                        <a class="tile-content ink-reaction" href="{{ path('asset_list', {'user' : user.id, 'bc' : user.username}) }}">
                                            <div class="tile-icon">
                                                {% if user.photo and file_exists('uploads/user/profile/thumbs/'~user.photo) %}
                                                    <img src="{{ asset('uploads/user/profile/thumbs/'~user.photo) }}" alt="">
                                                {% else %}
                                                    <img src="{{ asset('build/images/profile-pic-default.png') }}" alt="">
                                                {% endif %}

                                            </div>
                                            <div class="tile-text">
                                                {{ user.username }}
                                                <small>{{ user.assignedAssets|length}} {{ user.assignedAssets|length == 1 ? 'asset' : 'assets' }}</small>
                                            </div>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>{#end .card-body #}
                    </div>
                </div>
            </div>{#end .card #}
        </div>{#end .col #}
        <div class="col-md-6">
            <div class="card card-underline">
                <div class="card-head">
                    <header>Departments</header>
                    <div class="tools">
                        <div class="btn-group">
                            <a class="btn btn-icon-toggle btn-refresh"><i class="md md-refresh"></i></a>
                            <a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>
                            <a class="btn btn-icon-toggle btn-close"><i class="md md-close"></i></a>
                        </div>

                    </div>
                </div>{#end .card-head #}
                <div class="nano has-scrollbar" style="height: 360px;">
                    <div class="nano-content" tabindex="0" style="right: -17px;">
                        <div class="card-body no-padding height-9 scroll" style="height: auto;">
                            <ul class="list divider-full-bleed">
                                {% for department in departments %}
                                    <li class="tile">
                                        <a class="tile-content ink-reaction" href="{{ path('asset_list', {'department' : department.id, 'bc' : department.name}) }}">
                                            <div class="tile-icon">
                                                <img src="{{ asset('build/images/default.jpg') }}" alt="">
                                            </div>
                                            <div class="tile-text">
                                                {{ department.name }}
                                                <small>{{ department.assets|length}} {{ department.assets|length == 1 ? 'asset' : 'assets' }}</small>
                                            </div>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>{#end .card-body #}
                    </div>
                </div>
            </div>{#end .card #}
        </div>{#end .col #}
    </div>

{% endblock %}