{% extends 'base.html.twig' %}

{% block page_title %}Change email{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('user_profile') }}">Profile</a></li>
    <li class="active">Change email</li>
{% endblock %}

{% block body %}

    <div class="col-lg-offset-1 col-md-8">
        {{ form_start(form, {'attr': {'class': 'form email-change'}}) }}
            <div class="card">
                <div class="card-head style-primary">
                    <header>Change your email</header>
                </div>
                <div class="card-body floating-label">

                    <br>

                    <div class="form-group {{ form_errors(form.email) ? 'has-error' : '' }}">
{#                        {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}#}
                        <input type="email" id="{{ form.email.vars.id }}" name="{{ form.email.vars.full_name }}" required="required" maxlength="255" class="form-control" autocomplete="off">
                        <label for="{{ form.email.vars.id }}" class="control-label">Enter new email <strong style="color:red;">*</strong></label>
                        {{ form_errors(form.email)|default('<span class="help-block">A confirmation message will be sent to this new email address.</span>')|raw }}
                    </div>

                    {{ form_widget(form._token) }}

                    <div class="form-errors-div">
                        {{ form_errors(form) }}
                    </div>

                </div><!--end .card-body -->
                <div class="card-actionbar">
                    <div class="card-actionbar-row">
                        <button type="submit" class="btn btn-flat btn-primary ink-reaction">{{ button_label|default('Submit') }}</button>
                    </div>
                </div>
            </div><!--end .card -->
            <em class="text-caption">Click a verification link in an email sent to you.</em>
        {{ form_end(form, {'render_rest': false}) }}
    </div>

{#    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}#}

{% endblock %}
