{% extends 'base.html.twig' %}

{% block page_title %}Change password{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('user_profile') }}">Profile</a></li>
    <li class="active">Change password</li>
{% endblock %}

{% block body %}

    <div class="col-lg-offset-1 col-md-8">
        {{ form_start(form, {'attr': {'class': 'form password-change'}}) }}
            <div class="card">
                <div class="card-head style-primary">
                    <header>Change your password</header>
                </div>
                <div class="card-body floating-label">

                    <br>

                    <div class="form-group {{ form_errors(form.oldPassword) ? 'has-error' : '' }}">
                        <input type="password" id="{{ form.oldPassword.vars.id }}" name="{{ form.oldPassword.vars.full_name }}" required="required" maxlength="255" class="form-control" autocomplete="off">
                        <label for="{{ form.oldPassword.vars.id }}" class="control-label">Current password <strong style="color:red;">*</strong></label>
                        {{ form_errors(form.oldPassword) }}
                    </div>

                    <div class="form-group">
                        <input type="password" id="{{ form.plainPassword.first.vars.id }}" name="{{ form.plainPassword.first.vars.full_name }}" maxlength="255" class="form-control" required>
                        <label for="{{ form.plainPassword.first.vars.id }}">New password <strong style="color:red;">*</strong></label>
                        <p class="help-block">{{ form_help(form.plainPassword.first) }}</p>
                    </div>
                    <div class="form-group">
                        <input type="password" id="{{ form.plainPassword.second.vars.id }}" name="{{ form.plainPassword.second.vars.full_name }}" class="form-control" required>
                        <label for="{{ form.plainPassword.second.vars.id }}">Confirm new password <strong style="color:red;">*</strong></label>
                        <p class="help-block">{{ form_help(form.plainPassword.second) }}</p>
                    </div>

                    {{ form_widget(form._token) }}

                    <div class="form-errors-div">
                        {{ form_errors(form.plainPassword, {'attr': {'class': 'help-block'}}) }}
                        {{ form_errors(form) }}
                    </div>

                </div><!--end .card-body -->
                <div class="card-actionbar">
                    <div class="card-actionbar-row">
                        <button type="submit" class="btn btn-flat btn-primary ink-reaction">{{ button_label|default('Submit') }}</button>
                    </div>
                </div>
            </div><!--end .card -->
            <em class="text-caption">Click a verification link in an email sent to you.</em>
        {{ form_end(form, {'render_rest': false}) }}
    </div>

{#    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}#}

{% endblock %}
