{% extends 'base.html.twig' %}

{% block page_title %}Users{% endblock %}

{% block breadcrumb %}
        <li class="active">Users</li>
{% endblock %}

{% block body %}
{#    <h1>Users list</h1>#}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>User type</th>
                <th>Phone</th>
                <th>Assets</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
{#                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>#}
                <td>
                    {% if 'ROLE_SUPER_ADMIN' in user.roles %}
                        <span>Super admin</span>
                    {% elseif 'ROLE_OWNER' in user.roles %}
                        <span>Organization Owner</span>
                    {% elseif 'ROLE_ADMIN' in user.roles %}
                        <span>Administrator</span>
                    {% else %}
                        <span>Standard user</span>
                    {% endif %}
                </td>
                <td>{{ user.phone }}</td>
                <td>{{ user.assignedAssets|length }}</td>
                <td>
                    {% if user.id == app.user.id %}
                        <a href="{{ path('user_profile') }}" data-toggle="tooltip" data-placement="top" data-trigger="hover" data-original-title="Show my profile">show my profile</a>
                    {% else %}
                        <a href="{{ path('user_show', {'id': user.id}) }}" data-toggle="tooltip" data-placement="top" data-trigger="hover" data-original-title="Show user profile">show</a>
                    {% endif %}
                    &nbsp;
                    {% if is_granted("ROLE_ALLOWED_TO_SWITCH") and user.id != app.user.id %}
                        <a class="text-accent" href="{{ path('homepage', {'_switch_user': user.email}) }}" data-toggle="tooltip" data-placement="top" data-trigger="hover" data-original-title="Impersonate this user">Impersonate <i class="fa fa-user-secret"></i></a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if is_granted("ROLE_MANAGE_USERS") %}
        <a href="{{ path('user_new') }}" class="btn btn-raised btn-default-bright style-primary">Create new user</a>
    {% endif %}
{% endblock %}
