{% extends 'base.html.twig' %}

{% block page_title %}{{ user.id == app.user.id ? 'My Profile' : user.username }}{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ path('user_index') }}">Users</a></li>
    <li class="active">{{ user.id == app.user.id ? 'My Profile' : user.username }}</li>
{% endblock %}

{% block body %}

    <div class="card" id="profile-main">
        <div class="pm-overview c-overflow nano has-scrollbar">

            <div class="nano-content" tabindex="0" style="right: -17px;">

                <div class="pmo-pic">
                    <div class="p-relative">
                        {% if user.id == app.user.id %}
                            <form class="form profile-upload-form" method="post" data-delete-path="{{ path('user_profile_photo_delete') }}" action="{{ path('user_profile') }}" enctype="multipart/form-data" novalidate="novalidate">
                                <input type="file" class="uploadFile hidden" id="{{ profilePhotoForm.photoFile.vars.id }}" name="{{ profilePhotoForm.photoFile.vars.full_name }}">
                                <input type="checkbox" class="deleteFileChk hidden" id="{{ profilePhotoForm.deletePhoto.vars.id }}" name="{{ profilePhotoForm.deletePhoto.vars.full_name }}" class="hidden-input deleteFile" value="{{ profilePhotoForm.deletePhoto.vars.value }}">

                                <input type="hidden" class="_token" id="{{ profilePhotoForm._token.vars.id }}" name="{{ profilePhotoForm._token.vars.full_name }}" value="{{ profilePhotoForm._token.vars.value }}">

                                <a href="#" class="pmop-edit" data-toggle="tooltip" data-placement="top" data-trigger="hover" data-original-title="Click to {{ user.photo ? 'change' : 'choose'  }} a profile photo">
                                    <i class="fa fa-camera"></i> <span class="hidden-xs">Update Profile Picture</span>
                                </a>
                                {% if user.photo and file_exists('uploads/user/profile/'~user.photo) %}
                                    <i class="fa fa-times rem-photo" data-toggle="tooltip" data-placement="top" data-trigger="hover" data-original-title="Click to remove a profile photo"></i>
                                {% endif %}
                            </form>
                        {% endif %}
                        {% if user.photo and file_exists('uploads/user/profile/'~user.photo) %}
                            {% set photo_placeholder = asset('uploads/user/profile/'~user.photo) %}
                        {% else %}
                            {% set photo_placeholder = asset('build/images/profile-pic-default.png') %}
                            {#{% set photo_placeholder = "" %}#}
                        {% endif %}
                        <a class="js-profile-pic-anchor" href="#">
                            <img class="img-responsive user-profile-photo" src="{{ photo_placeholder }}" alt="User profile photo">
                        </a>

                    </div>



                </div>
                <div class="pmo-stat">
                    <h2 class="m-0 c-white js-pmo-username">{{ user.username }}</h2>
                    {{ user.assignedAssets|length }} {{ user.assignedAssets|length == 1 ? 'asset' : 'assets' }} assigned
                </div>

                <div class="pmo-block pmo-contact hidden-xs">
                    <h2>Contact</h2>

                    <ul>
                        <li><i class="fa fa-envelope-o"></i> {{ user.email }}</li>
                        <li><i class="fa fa-phone"></i> <span class="js-pmb-phone">{{ user.phone }}</span> </li>
                        <li><i class="fa fa-map-marker"></i>
                            <address class="m-b-0 js-pmb-address">
                                {{ user.address|nl2br|custom_replace(',','<br />')|raw }}
                            </address>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="pm-body clearfix">
            <div class="card profile-main-content">
                <div class="card-head">
                    <ul class="nav nav-tabs" data-toggle="tabs">
                        <li class="active"><a href="#user-info-tab">About</a></li>
                        <li><a href="#user-assets-tab">Assets</a></li>
                    </ul>
                </div><!--end .card-head -->
                <div class="card-body tab-content">
                    <div class="tab-pane active" id="user-info-tab">
                        <div class="pmb-block pmb-block-basic-info">
                            <div class="pmbb-header">
                                <h2><i class="fa fa-file-text-o m-r-10"></i> Basic Information</h2>

                                {% if user.id == app.user.id %}
                                    <ul class="actions">
                                        <li class="dropdown list">
                                            <a href="" class="btn btn-icon-toggle ink-reaction" data-toggle="dropdown">
                                                <i class="fa fa-ellipsis-v"></i>
                                            </a>

                                            <ul class="dropdown-menu dropdown-menu-right">
                                                <li>
                                                    <a data-ma-action="profile-edit" href="#">Edit</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                {% endif %}
                            </div>
                            <div class="pmbb-body p-l-30">
                                <div class="pmbb-view">
                                    <dl class="dl-horizontal">
                                        <dt>First Name</dt>
                                        <dd class="js-pmb-firstname">{{ user.firstname }}</dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>Last Name</dt>
                                        <dd class="js-pmb-lastname">{{ user.lastname }}</dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>Mobile Phone</dt>
                                        <dd class="js-pmb-phone">{{ user.phone }}</dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>Address</dt>
                                        <dd>
                                            <address class="m-b-0 js-pmb-address">
                                                {{ user.address|nl2br|custom_replace(',','<br />')|raw }}
                                            </address>
                                        </dd>
                                    </dl>
                                </div>

                                {% if user.id == app.user.id %}
                                    <div class="pmbb-edit user-basic-details-edit">
                                        <form class="form form-validate" method="post" autocomplete="on" action="{{ path('user_profile_edit_info') }}" enctype="multipart/form-data" novalidate="novalidate">

                                            <dl class="dl-horizontal">
                                                <dt class="p-t-10">First Name</dt>
                                                <dd>
                                                    <div class="fg-line form-group">
                                                        <input type="text" class="form-control"
                                                               name="{{ usernameform.firstname.vars.full_name }}"
                                                               id="{{ usernameform.firstname.vars.id }}"
                                                               value="{{ usernameform.firstname.vars.value }}"
                                                               placeholder="enter your first name ..." required>
                                                    </div>
                                                </dd>
                                            </dl>
                                            <dl class="dl-horizontal">
                                                <dt class="p-t-10">Last Name</dt>
                                                <dd>
                                                    <div class="fg-line form-group">
                                                        <input type="text" class="form-control" name="{{ usernameform.lastname.vars.full_name }}"
                                                               id="{{ usernameform.lastname.vars.id }}"
                                                               value="{{ usernameform.lastname.vars.value }}"
                                                               placeholder="enter your last name ..." required>

                                                    </div>
                                                </dd>
                                            </dl>

                                            <dl class="dl-horizontal">
                                                <dt class="p-t-10">Mobile phone</dt>
                                                <dd>
                                                    <div class="fg-line form-group">
                                                        <input type="text" class="form-control" name="{{ usernameform.phone.vars.full_name }}"
                                                               id="{{ usernameform.phone.vars.id }}"
                                                               value="{{ usernameform.phone.vars.value }}"
                                                               placeholder="enter your phone number ...">
                                                    </div>
                                                </dd>
                                            </dl>

                                            <dl class="dl-horizontal">
                                                <dt class="p-t-10">Address</dt>
                                                <dd>
                                                    <div class="fg-line form-group">
                                                        <input type="text" class="form-control" name="{{ usernameform.address.vars.full_name }}"
                                                               id="{{ usernameform.address.vars.id }}"
                                                               value="{{ usernameform.address.vars.value }}"
                                                               placeholder="enter your address ...">
                                                    </div>
                                                </dd>
                                            </dl>

                                            <input type="hidden" id="{{ usernameform._token.vars.id }}" name="{{ usernameform._token.vars.full_name }}" value="{{ usernameform._token.vars.value }}">

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <p class="mt-5 mb-3 text-danger user-info-edit-errors">

                                                    </p>
                                                </div>


                                            </div><!--end .row -->

                                            <div class="m-t-30 pmbb-edit-actions">
                                                <button class="btn btn-primary btn-sm user-basic-details-edit-btn" type="submit">Save</button>
                                                <button data-ma-action="profile-edit-cancel" class="btn btn-link btn-sm profile-edit-cancel">Cancel</button>
                                            </div>

                                        </form>
                                    </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="pmb-block">
                            <div class="pmbb-header">
                                <h2><i class="fa fa-user m-r-10"></i> Account Information</h2>
                            </div>
                            <div class="pmbb-body p-l-30">
                                <div class="pmbb-view">
                                    <dl class="dl-horizontal">
                                        <dt>User Type</dt>

                                        {% if 'ROLE_SUPER_ADMIN' in user.roles %}
                                            <dd class="js-pmo-user-role">Super admin
                                                {{ user.id == app.user.id ? '<span class="text-default-light">(You have the highest levels of system privileges.)</span>' }}
                                            </dd>
                                        {% elseif 'ROLE_OWNER' in user.roles %}
                                            <dd class="js-pmo-user-role">Portal owner
                                                {{ user.id == app.user.id ? '<span class="text-default-light">(You have the highest levels of system permissions.)</span>' }}
                                            </dd>
                                        {% elseif 'ROLE_ADMIN' in user.roles %}
                                            <dd class="js-pmo-user-role">Administrator
                                                {{ user.id == app.user.id ? '<span class="text-default-light">(Only your super-admin can change this setting.)</span>' }}
                                            </dd>
                                        {% else %}
                                            <dd class="js-pmo-user-role">Standard user
                                                {{ user.id == app.user.id ? '<span class="text-default-light">(Only your admin can change this setting.)</span>' }}
                                            </dd>
                                        {% endif %}
                                    </dl>

                                    {% if is_granted('ROLE_MANAGE_OWNER') or is_granted('ROLE_MANAGE_ADMINS') %}
                                        <dl class="dl-horizontal js-roles-manager">
                                            <dt>&nbsp;</dt>

                                            <dd>
                                                {% if 'ROLE_OWNER' in user.roles and is_granted('ROLE_MANAGE_OWNER') %}
                                                    <a href="#" data-path="{{ path('user_role_make_admin', {'id' : user.id }) }}" class="text-primary js-make-admin">Downgrade to portal ADMIN role</a> |
                                                    <a href="#" data-path="{{ path('user_role_make_user', {'id' : user.id }) }}"  class="text-primary js-make-user">Downgrade to STANDARD USER role</a>
                                                {% elseif 'ROLE_ADMIN' in user.roles and is_granted('ROLE_MANAGE_ADMINS')%}
                                                    {% if is_granted('ROLE_MANAGE_OWNER') %}
                                                        <a href="#" data-path="{{ path('user_role_make_owner', {'id' : user.id }) }}" class="text-primary js-make-owner">Upgrade to portal OWNER role</a> |
                                                    {% endif %}
                                                    <a href="#" data-path="{{ path('user_role_make_user', {'id' : user.id }) }}"  class="text-primary js-make-user">Downgrade to STANDARD USER role</a>
                                                {% else %}
                                                    {% if is_granted('ROLE_MANAGE_OWNER') %}
                                                        <a href="#" data-path="{{ path('user_role_make_owner', {'id' : user.id }) }}"  class="text-primary js-make-owner">Upgrade to portal OWNER role</a> |
                                                    {% endif %}
                                                    <a href="#" data-path="{{ path('user_role_make_admin', {'id' : user.id }) }}"  class="text-primary js-make-admin">Upgrade to portal ADMIN role</a>
                                                {% endif %}
                                            </dd>
                                        </dl>
                                    {% endif %}

                                    <dl class="dl-horizontal">
                                        <dt>Email Address</dt>
                                        <dd>
                                            {{ user.email }}
                                            &nbsp;
                                            {% if user.id == app.user.id %}
                                                (<a class="text-primary" href="{{ path('user_profile_edit_email') }}" title="Change your email.">change your email.</a>)
                                            {% endif %}

                                        </dd>
                                    </dl>
                                    {% if user.id == app.user.id  %}
                                        <dl class="dl-horizontal">
                                            <dt>Password</dt>
                                            <dd>
                                                (<a class="text-primary" href="{{ path('user_profile_edit_password') }}" title="Change your password.">change your password.</a>)
                                            </dd>
                                        </dl>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="user-assets-tab">
                        {% if user.assignedAssets.count > 0 %}
                            {% for asset in user.assignedAssets %}
                                <ul class="list divider-full-bleed">
                                        <li class="tile">
                                            <a class="tile-content ink-reaction" href="{{ path('asset_show', {'id' : asset.id}) }}" target="_blank">
                                                <div class="tile-icon">
                                                    {% if asset.photo is not empty and file_exists('images/uploads/'~asset.photo) %}
                                                        <img src="{{ asset('images/uploads/'~asset.photo) }}" alt="thumbnail">
                                                    {% else %}
                                                        <img src="{{ asset('build/images/noimage.jpg') }}" alt="thumbnail">
                                                    {% endif %}
                                                </div>
                                                <div class="tile-text">
                                                    {{ asset.name }}
                                                    <small>{{ 'Barcode : ' ~ asset.barcode }} {{ ' | Sn : ' ~ asset.sn }}</small>
                                                </div>
                                            </a>
                                        </li>
                                </ul>
                            {% endfor %}
                        {% else %}
                            <p>No assets assigned to {{ user.id == app.user.id ? 'you' : 'this user' }}!</p>
                        {% endif %}
                    </div>

                </div><!--end .card-body -->
            </div><!--end .card -->



        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('profile') }}

{% endblock %}